/*
NOTE: All the hard-coded widths in here suck,
but there isn't a great way around that given
we're still supporting IE 7+ and therefore
can't use flex or inline-block.
*/

$carousel-height: 285px;

.carousel {
  // needs to be hard coded to
  // keep prev/next buttons from moving
  height: $carousel-height;
  overflow-x: hidden;
  width: 100%;

  &__form {
    overflow-y: hidden;
    position: relative; // for old IE so we can use left instead of translate
    transition: transform .5s;
  }

  &__slide {
    display: block;
    float: left;
    margin: 0;
    padding: 0 .25em;

    &--frequency {
      @extend .carousel__slide;
    }

    &--range {
      @extend .carousel__slide;
    }

    &--amount {
      @extend .carousel__slide;
    }
  }

  &__fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  &__legend {
    @extend .weight--bold;
    display: block !important; // old iOS versions
    font-size: 1.8em;
    text-align: center;
  }

  &__radios {
    -webkit-margin-before-collapse: separate;
    margin-top: 1em;
  }

  &__label {
    border-color: $yellow-tribune;
    color: $black;
    margin-top: 1em;

    &--preselected {
      @extend .carousel__label;
      background-color: $white;

      .carousel__checkmark {
        display: none;
      }
    }

    &--selected {
      @extend .carousel__label;
      background-color: $white;

      .carousel__slide--frequency & {
        text-indent: 16px;
      }
    }

    &--normal {
      @extend .carousel__label;
      background-color: $yellow-tribune;
    }

    &--full {
      @extend .form-button--full;
      @extend .form-button--thick;

      &:first-child {
        margin-top: 0;
      }
    }

    &--third {
      @extend .form-button--third;
      @extend .form-button--thin;
    }

    &:hover {
      background-color: $white;
    }
  }

  &__dollars {
    @extend .weight--bold;
    font-size: .9em;
  }

  &__qualifier {
    font-size: .7em;
  }

  &__checkmark {
    color: $yellow-tribune;

    .carousel__label--selected & {
      display: inline;
    }

    .carousel__label--normal & {
      display: none;
    }
  }

  &__student {
    margin-top: 1em;
  }

  &__manual {
    margin: 1em auto;
    max-width: 250px;
  }

  &__manual-label {
    @extend .weight--bold;
    float: left;
    // for vertical centering
    line-height: 25px;
    margin-right: .5em;
  }

  &__manual-input {
    @extend .weight--bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    display: block;
    float: right;
    // for vertical centering
    height: 25px;
    text-indent: .5em;
    width: 100px;

    &--selected {
      @extend .carousel__manual-input;
      border-color: $teal-tribune;
    }

    &--invalid {
      @extend .carousel__manual-input;
      border-color: $error-red;
    }

    &--normal {
      @extend .carousel__manual-input;
      border-color: $teal-tribune;
    }
  }

  &__manual-error {
    color: $error-red;
    font-size: .7em;
    margin: .25em 0 0 0;
    text-align: right;
  }

  &__submit {
    @extend .form-button--full;
    @extend .form-button--thin;
    @extend .uppercase;
    @extend .weight--bold;
    background-color: #222;
    border-color: #222;
    color: $white;
    display: block;

    &:hover {
      background-color: $white;
      color: #222;
    }
  }

  &__controls {
    bottom: 1em;
    display: table;
    left: 50%;
    margin-left: -96px;
    position: absolute;
    width: 192px;

    @include media($mobile) {
      bottom: 0;
    }
  }

  &__indicators {
    list-style: none;
    display: table-cell;
    padding: 0 1.5em;
    vertical-align: middle;
  }

  &__dot {
    border-radius: 50%;
    border: 1px solid $gray-dark;
    display: block;
    height: 10px;
    margin-right: .5em;
    width: 10px;

    &--normal {
      @extend .carousel__dot;
      background-color: $white;
    }

    &--selected {
      @extend .carousel__dot;
      background-color: $gray-dark;
    }

    &:first-child {
      float: left;
    }

    &:last-child {
      float: right;
      margin-right: 0;
    }
  }

  &__button {
    @extend .weight--bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: none;
    color: $teal-tribune;
    display: table-cell;
    font-size: 1.2em;
    padding: 0;
    vertical-align: middle;

    &--prev, &--next {
      @extend .carousel__button;
    }

    // hack to make button not appear
    // we don't want to display: none because
    // then it throws off the alignment of the controls.
    // this is OK for accessibility because the button
    // also gets the disabled Boolean attribute
    // which is screen-reader friendly
    &.disabled {
      color: $white;
    }
  }
}
