/*
  We have a normal landing page (/index.html) and our
  campaign-specific landing page (/campaign.html).
  Both have virtually the same layout with a few
  page-specific differences. So instead of having
  separate SCSS partials for each page, it made sense
  to put all the styles here and use specificity
  when needed.
*/

.index, .campaign {
  .splash {
    background-color: lighten($black, 20%);

    @include media($mobile) {
      background-image: none;
    }
  }

  .splash-header {
    font-size: 3.1em;
    padding-bottom: .5em;

    // arbitrary breakpoint to make text
    // look pretty
    @media screen and (max-width: 925px) {
      font-size: 2.8em;
    }

    @include media($tablet-carousel) {
      font-size: 3em;
    }

    @include media($mobile) {
      font-size: 1.8em;
      // following two properties are useful
      // when applying dark overlay via :before
      position: relative;
      z-index: 2;
    }
  }

  .splash-greeting {
    text-align: left;

    @include span-columns(7);
      @include shift(0);

    @include media($tablet-carousel) {
      @include span-columns(12);
      text-align: center;
    }

    @include media($mobile) {
      background-size: cover;
      position: relative;

      // to make the text stand out
      &:before {
        background-color: rgba($black, .4);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    }
  }

  .splash-info {
    position: relative;
    z-index: 2;

    @include media($tablet-carousel) {
      display: none;
    }
  }

  .splash-wrapper {
    @include media($tablet-carousel) {
      padding: 2em 1em;
    }

    @include media($mobile) {
      padding: 0;
    }
  }

  .splash-donate {
    @include span-columns(5);

    @include media($tablet-carousel) {
      @include span-columns(12);
    }

    @include media($mobile) {
      background-color: $white;
      border-bottom: 1px solid $gray-light;
      padding-bottom: 1.5em;
    }
  }

  .splash-donate-inner {
    background-color: $white;
    padding: 1em 1em 0 1em;
    position: relative;
    zoom: 1;

    @include media($tablet-carousel) {
      margin: 0 auto;
      max-width: $mobile-width;
    }

    @include media($mobile) {
      background: none;
    }
  }

  .splash-mail,
  .splash-once {
    color: $white;
    letter-spacing: .03em;
    margin-top: 1em;

    @include media($tablet-carousel) {
      text-align: center;
    }

    @include media($mobile) {
      color: $black;
      margin: 2em auto 0 auto;
      max-width: $mobile-width;
      padding: 0 1.5em;

      a {
        color: $teal-tribune;
      }
    }
  }

  .splash-once {
    text-align: center;
  }

  .main {
    @include media($mobile) {
      background-color: #fdfdfd;
      padding-top: 1em;
    }
  }

  .main-left {
    p {
      margin-top: 1em;
    }
  }

  .section {
    h3 {
      margin-bottom: .5em;
    }
  }
}


.index {
  .splash {
    background-image: url('../bg/index.jpg');
    background-position-x: 50%;
  }

  @include media($mobile) {
    .splash-greeting {
      background-image: url('../bg/index.jpg');
    }
  }
}


.campaign {
  .splash {
    background-image: url('../bg/eoy2.jpg');
    background-position-y: 75%;
    background-position-x: 20%;
    background-size: initial;
  }

  @include media($tablet-carousel) {
    .splash {
      background-position-x: 25%;
      background-position-y: 0;
    }
  }

  @include media($mobile) {
    .splash-greeting {
      background-image: url('../bg/eoy2.jpg');
    }
  }

  .top {
    margin-bottom: 3em;

    @include media($mobile) {
      margin-bottom: 1em;
      padding: 0 1em;
    }
  }

  .small-img {
    float: left;
    background: $gray-light;
    margin: 2em 2em 1em 0;
    max-width: 300px;

    &__file {
      display: block;
      width: 100%;
    }

    &__caption {
      font-size: .8em;
      margin-top: .25em;
      padding: 1em;
    }

    @include media($tablet-carousel) {
      display: none;
    }

    @include media($mobile) {
      display: block;
      float: none;
      margin: 1em 0 0 0;
      max-width: none;
    }
  }
}
