// Express Checkout
.express-checkout {
  a {
    color: $black;
  }
  .contribute {
    background-color: $bg-contribute;
    padding: 2em;
    text-align: center;
    h5, h3, p {
      text-align: left;
    }
    h5 {
      padding-top: 0.5em;
    }
    .button {
      margin-top: 1em;
      width: 100%;
    }
    span.dollar {
      color: #b7b7b7;
      float: left;
      font-family: "league-gothic";
      font-size: 4em;
    }
  }
  .renew {
    background-color: $bg-contribute;
    margin-top: 20px;
    padding: 0.8em;
    h4 {
      font-size: 14px;
      font-weight: 200;
    }
    p {
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0px;
    }
  }
  label {
    color: #b2b2b2;
    cursor: pointer;
    font-size: 12px;
    font-weight: $black;
    letter-spacing: 2px;
    padding: 0.2em;
    text-transform: uppercase;
    width: 120px;
  }
}

.ui-buttonset, #contribute-buttons {
  margin: 1em 0;
}

// Turn off native spinner
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#spinner, #spinner-bottom {
  background-color: $gray-light;
  border: none;
  color: $gray-medium;
  font-family: "league-gothic";
  font-size: 3.5em;
  margin: 0;
  padding-left: 2em;
  width: 200px;
}


// Bottom express checkout
.index {
  .bottom-checkout {
    background-image: url("../images/footer-contribute1.jpg");
    @include background-sizing;
  }
}

.levels {
  .bottom-checkout {
    background-image: url("../images/footer-contribute2.jpg");
    @include background-sizing;
  }
}

.bottom-checkout {
  @include outer-container;
  background: #a74c1d;
  max-width: none;
  padding: 3em 1em;
  h2 {
    border-bottom: 3px solid $yellow-tribune;
    color: white;
    font-family: $league-gothic;
    font-size: 4em;
    font-weight: 200;
    margin-bottom: 0.5em;
    text-align: left;
  }
  .express-checkout {
    @include span-columns(5);
    @include media($mobile) {
      @include span-columns(12);
    }
    .contribute {
      background: transparent;
      span.dollar {
        color: $white;
        padding: 0 0.2em;
      }
      label {
        float: right;
      }
    }
    .ui-spinner {
      float: left;
    }
  }
}

#contribute-buttons-bottom {
  display: inline;
}

#monthly-bottom {
  clear: both;
  float: right;
}
