// Circle member page
.circle-box-top {
  background-color: $black;
  padding: 1em 2.2em;
  text-align: center;
  h3 {
    border-bottom: 2px solid $yellow-tribune;
    color: $white;
    padding: 0.2em 0;
  }
  h4, p {
    color: $yellow-tribune;
    padding: 0.2em 0;
  }
}

.circle-box-bottom {
  background-color: $white;
  color: $black;
  padding: 1em;
  text-align: left;
  .button {
    font-size: 1em;
    font-weight: 600;
    padding: 1em 1.8em;
    width: 45%;
  }
  h5 {
    color: $gray-medium;
  }
}

.circle-box-benefits {
  height: 60px;
}


.thanks {
  @include background-sizing;
  background-image: url("../images/footer-thanks.jpg");
  height: 350px;
}
