.circle-members {
  clear: both;
  .splash {
    background-color: lighten($black, 20%);
    background-image: url("../images/FAQ-header-bg.jpg");
  }
  .main {
    padding: 2em;
    h4 {
      margin-top: 2em;
    }
    p {
      margin: 0.5em 0;
    }
  }
  
  .circle-list-wrapper {
    margin-bottom: 2em;
    text-align: center;
  }

  .circle-title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: .5em;
  }

  .circle-list {
    
    font-size: 1.2em;
    line-height: 1.5em;
  }

  .yellow-star {
    color: $yellow-tribune;
    font-size: .8em;
  }
}