.donor-wall {
  .splash {
    background-color: lighten($black, 20%);
    background-image: url("../images/FAQ-header-bg.jpg");
  }
  .main {
    padding: 2em;
    h4 {
      margin-top: 2em;
    }
    p {
      margin: 0.5em 0;
    }
  }
}

.corporate-sponsors {
  .splash {
    background-color: lighten($black, 20%);
    background-image: url("../images/FAQ-header-bg.jpg");
  }
  .main {
    padding: 2em;
    h4 {
      margin-top: 2em;
    }
    p {
      margin: 0.5em 0;
    }
  }
  .sorts {
    display: table-cell;
  }

  .header-label {
    display: table-cell;
  }

  .year-jumper-bar {
    border-bottom: 6px solid $yellow-tribune;
  }

  .jumper-container {
    margin: 0;
    // margin-bottom: -.05em;
  }

  .year-jumper {
    background-color: $black;
    padding: .33em 1.5em;
    color: $white;
    font-size: .75em;
    display: inline-block;
    margin-right: -.5em;
    cursor: pointer;
    a {
      color: $white;
    }
  }

  .active {
    background-color: $yellow-tribune;
    color: $black;
  }

  // .hide {
  //   display: none;
  // }

  .sort {
    cursor: pointer;
  }

  .donor-table {
    font-size: .75em;
    width: 100%;
    display: none;
    margin-top: .5em;
  }

  .sort-up {
    margin-top: -.5em;
  }

  .fa-stack-1x {
    display: inline;
  }

  .fa-stack {
    display: table-cell;
    vertical-align: top;
  }

  .label {
    position: relative;
    display: table-cell;

    br {
      display: block;
    }
  }

  th {
    padding: .5em;
    min-width: 80px;
  }

  th,
  td {
    text-align: right;
    &:first-child,
    &.table-prose {
      text-align: left;
    }

    &:last-child,
    &.table-number {
      text-align: right;
    }
  }

  tr {
    &:nth-child(even) td {
      background-color: $gray-light;

      &.highlight {
        // background-color: none;
        background-color: transparentize($yellow-tribune, .75);
        font-weight: 600;
      }
    }
  }

  td {
    padding: .5em;
    &.highlight {
      background-color: transparentize($yellow-tribune, .75);
      font-weight: 600;

    }
  }

}
