.donor-wall {
  .splash {
    background-color: lighten($black, 20%);
    background-image: url("../images/FAQ-header-bg.jpg");
  }
  .main {
    padding: 2em;
    h4 {
      margin-top: 2em;
    }
    p {
      margin: 0.5em 0;
    }
  }
}

.corporate-sponsors {

  .splash {
    background-color: lighten($black, 20%);
    background-image: url("../images/FAQ-header-bg.jpg");
  }
  .main {
    padding: 2em;
    h4 {
      margin-top: 2em;
    }
    p {
      margin: 0.5em 0;
    }
  }
  .sorts {
    display: table-cell;
  }

  .header-label {
    display: table-cell;
  }

  .year-jumper-bar {
    border-bottom: 6px solid $yellow-tribune;
  }

  .jumper-container {
    margin: 0;
    // margin-bottom: -.05em;
  }

  .year-jumper {
    background-color: $black;
    padding: .33em 1.5em;
    color: $white;
    font-size: .75em;
    display: inline-block;
    margin-right: -.5em;
    cursor: pointer;
    a {
      color: $white;
    }
  }

  .sort {
    cursor: pointer;
  }

  .donor-table {
    font-size: .75em;
    width: 100%;
    display: none;
    margin-top: .5em;
  }

  .sort-up {
    margin-top: -.5em;
  }

  .fa-stack-1x {
    display: inline;
  }

  .fa-stack {
    display: table-cell;
    vertical-align: top;
  }

  .label {
    position: relative;
    display: table-cell;

    br {
      display: block;
    }
  }

  th {
    padding: .5em;
    min-width: 80px;
  }

  th,
  td {
    text-align: right;
    &:first-child,
    &.table-prose {
      text-align: left;
    }

    &:last-child,
    &.table-number {
      text-align: right;
    }
  }

  tr {
    &:nth-child(even) td {
      background-color: $gray-light;

      &.highlight {
        // background-color: none;
        background-color: transparentize($yellow-tribune, .75);
        font-weight: 600;
      }
    }
  }

  td {
    padding: .5em;
    &.highlight {
      background-color: transparentize($yellow-tribune, .75);
      font-weight: 600;

    }
  }

}

// awesomeplete styles

[hidden] { display: none; }

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

div.awesomplete {
  display: inline-block;
  position: relative;
}

div.awesomplete > input {
  display: block;
}

div.awesomplete > ul {
  position: absolute;
  left: 0;
  z-index: 1;
  min-width: 100%;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  border-radius: .3em;
  margin: .2em 0 0;
  background: hsla(0,0%,100%,.9);
  background: linear-gradient(to bottom right, white, hsla(0,0%,100%,.8));
  border: 1px solid rgba(0,0,0,.3);
  box-shadow: .05em .2em .6em rgba(0,0,0,.2);
  text-shadow: none;
}

div.awesomplete > ul[hidden],
div.awesomplete > ul:empty {
  display: none;
}

@supports (transform: scale(0)) {
  div.awesomplete > ul {
    transition: .3s cubic-bezier(.4,.2,.5,1.4);
    transform-origin: 1.43em -.43em;
  }
  
  div.awesomplete > ul[hidden],
  div.awesomplete > ul:empty {
    opacity: 0;
    transform: scale(0);
    display: block;
    transition-timing-function: ease;
  }
}

  /* Pointer */
  div.awesomplete > ul:before {
    content: "";
    position: absolute;
    top: -.43em;
    left: 1em;
    width: 0; height: 0;
    padding: .4em;
    background: white;
    border: inherit;
    border-right: 0;
    border-bottom: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  div.awesomplete > ul > li {
    position: relative;
    padding: .2em .5em;
    cursor: pointer;
  }
  
  div.awesomplete > ul > li:hover {
    background: hsl(200, 40%, 80%);
    color: black;
  }
  
  div.awesomplete > ul > li[aria-selected="true"] {
    background: hsl(205, 40%, 40%);
    color: white;
  }
  
    div.awesomplete mark {
      background: hsl(65, 100%, 50%);
    }
    
    div.awesomplete li:hover mark {
      background: hsl(68, 100%, 41%);
    }
    
    div.awesomplete li[aria-selected="true"] mark {
      background: hsl(86, 100%, 21%);
      color: inherit;
    }
