.footer {
  @include outer-container;
  background: $black;
  max-width: none;
  padding: 0.5em 0;
  .left-nav {
    @include span-columns(3);
    @media (max-width: 720px) {
      @include span-columns(12);
    }
    ul {
      float: left;
    }
  }
  .right-nav {
    @include span-columns(9);
    @media (max-width: 720px) {
      display: none;
    }
    ul {
      float: right;
      margin-right: 1.5em;
    }
  }
  ul {
    li {
      border-right: 1px solid $white;
      display: inline-block;
      &.copyright {
        border: none;
        color: $gray-medium;
        font-size: 0.6em;
        a {
          color: $gray-medium;
          font-size: 1.2em;
        }
      }
      &.donate {
        border: none;
        a {
          color: $teal-tribune;
        }
      }
      a {
        color: $white;
        font-size: 0.7em;
        padding: 0.5em;
      }
    }
  }
}
