.footer {
  @include outer-container;
  background: black;
  max-width: none;
  .left-nav {
    @include span-columns(3);
    @include media($mobile) {
      @include span-columns(12);
    }
  }
  .right-nav {
    @include span-columns(9);
    @include hide-for-mobile;
  }
  ul {
    li {
      border-right: 1px solid white;
      display: inline-block;
      &.copyright {
        border: none;
        color: $gray-medium;
        a {
          color: $gray-medium;
        }
      }
      &.donate {
        border: none;
        a {
          color: $teal-tribune;
        }
      }
      a {
        color: white;
        padding: 0.5em;
      }
    }
  }
}
