// Index page
.index {
  .splash-greeting {
    text-align: right;
    @include media($mobile) {
      text-align: center;
    }
  }
  .main-right {
    @include media($mobile) {
      background-color: $black;
    }
    .student-member {
      padding: 1em 0.8em 0.5em 0.8em;
    }
  }
}

// Levels boxes
.level {
  h3, p {
    @include media($mobile) {
      color: $white;
    }
  }
  h4.amount {
    color: $teal-tribune;
  }
  h4.all-above {
    color: $black;
    margin-top: 0.5em;
  }
  h5 {
    margin-top: 1em;
  }
}
