// Index page
.index {
  .splash-greeting {
    text-align: right;
    @include media($mobile) {
      text-align: center;
    }
  }
  .main-left {
    @include hide-for-mobile;
  }
  .main-right {
    .student-member {
      @include media($mobile) {
        padding: 1em 0.8em 0.5em 0.8em;
      }
    }
  }
}

// Levels boxes
.level {
  h4.amount {
    color: $teal-tribune;
    span {
      color: $black;
    }
    a {
      text-decoration: underline;
    }
  }
  h4.all-above {
    color: $black;
    margin-top: 0.5em;
    @include media($mobile) {
      padding-top: 1em;
    }
  }
  h5 {
    margin-top: 1em;
  }
  p {
    margin: 0.3em 0;
  }
}
