// Index page
.index {
  .splash-greeting {
    text-align: right;
  }
  .main-right {
    @include media($mobile) {
      background-color: $black;
    }
  }
}

// Levels boxes
.level {
  h3, p {
    @include media($mobile) {
      color: $white;
    }
  }
  h4.amount {
    color: $teal-tribune;
  }
  h4.all-above {
    color: $black;
    margin-top: 0.5em;
  }
  h5 {
    margin-top: 1em;
  }
}

// For videos
.index {
  .outer-info {
    &#video-top {
      background-image: url("../images/undrinkable_lead.jpg");
      height: 400px;
    }
  }
  .inner-info:hover {
    background-color: $teal-tribune;
    border: none;
  }
}
