.masthead {
  @include outer-container;
  img {
    padding: 1em 0;
    @include span-columns(5);
      @include shift(1);
  }
}


// Splash at top of pages
.splash-wrapper {
  @include outer-container;
  max-width: 68em;
  padding: 6em 0;
}

.splash-landing {
  .splash-greeting {
    @include span-columns(7);
    @include media($mobile) {
      @include span-columns(12);
    }
  }
  .express-checkout {
    @include span-columns(4);
    @include media($mobile) {
      @include span-columns(12);
    }
  }
}


nav.desktop-nav {
  border-bottom: 5px solid $yellow-tribune;
  text-align: center;
  ul {
    background-color: $bg-nav;
    margin: 0;
    opacity: 0.8;
    padding: 0;
    li {
      display: inline-block;
      padding: 1.2em;
      a {
        color: $link-nav;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}


// Main area below the nav
.main {
  @include outer-container;
  padding: 3em 0;
  .main-left {
    @include span-columns(8);
    @include media($mobile) {
      @include span-columns(12);
    }
  }
  .main-right {
    @include span-columns(4);
    @include media($mobile) {
      @include span-columns(12);
    }
  }
}

// Bottom express checkout
.bottom-checkout {
  @include outer-container;
  background: gray;
  max-width: none;
  padding: 3em 1em;
  .express-checkout {
    @include span-columns(6);
    .contribute {
      background: transparent;
      .button {
        margin-top: 1em;
      }
    }
  }
}

#contribute-buttons-bottom {
  display: inline;
}

.ui-buttonset {
  margin: 1em 0;
}


// Index levels
.level {
  margin: 0 0 1em 0;
  h5 {
    margin-top: 0.8em;
  }
}

hr {
  margin-bottom: 1em;
}


// Circles page
.circle-box {
  @include span-columns(4);
  @include media($mobile) {
    @include span-columns(12);
  }
}




