.masthead {
  @include outer-container;
  img {
    padding: 1em 0;
    @include span-columns(5);
      @include shift(1);
  }
}


// Splash at top of pages
.splash-wrapper {
  @include outer-container;
  max-width: 68em;
  padding: 6em 0;
}

.splash-landing {
  .splash-greeting {
    @include span-columns(6);
      @include shift(1);
    @include media($mobile) {
      @include span-columns(12);
      @include shift(0);
    }
  }
  .express-checkout {
    @include span-columns(4);
    @include media($mobile) {
      @include span-columns(12);
    }
  }
}


// Desktop nav
nav.desktop-nav {
  border-bottom: 5px solid $yellow-tribune;
  text-align: center;
  ul {
    background-color: $bg-nav;
    margin: 0;
    opacity: 0.8;
    padding: 0;
    li {
      display: inline-block;
      padding: 1.2em;
      a {
        color: $link-nav;
        font-size: 11px;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          color: $yellow-tribune;
        }
      }
    }
  }
}


// Main area below nav
.main {
  @include outer-container;
  padding: 3em 0;
  .main-left {
    @include span-columns(8);
    @include media($mobile) {
      @include span-columns(12);
    }
  }
  .main-right {
    @include span-columns(4);
    @include media($mobile) {
      @include span-columns(12);
    }
  }
}


// Bottom express checkout
.bottom-checkout {
  @include outer-container;
  background: #a74c1d;
  max-width: none;
  padding: 3em 1em;
  .express-checkout {
    @include span-columns(5);
    @include media($mobile) {
      @include span-columns(12);
    }
    .contribute {
      background: transparent;
      span.dollar {
        color: white;
        padding: 0 0.2em;
      }
      label {
        float: right;
      }
    }
    .ui-spinner {
      float: left;
    }
  }
}

#contribute-buttons-bottom {
  display: inline;
}

.ui-buttonset {
  margin: 1em 0;
}


// Index levels
.level {
  margin: 0 0 1em 0;
}

hr {
  margin-bottom: 1em;
}


// Levels page
.levels {
  table {
    min-width: 940px;
  }
  h3 {
    padding: 1em 0;
  }
  .social {
    display: inline;
    margin: 0;
    @include media($tablet) {
      display: block;
      margin: 0.5em 0;
    }
  }
}


// Circles page
.circle-box {
  @include span-columns(4);
  @include media($mobile) {
    @include span-columns(12);
  }
}
