.masthead {
  @include outer-container;
  img {
    padding: 1em 0;
    @include span-columns(5);
      @include shift(1);
  }
}

nav {
  ul {
    background-color: $bg-nav;
    margin: 0;
    li {
      display: inline-block;
      padding: 1.2em;
      a {
        color: $link-nav;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}
