// Breakpoints
$desktop: new-breakpoint(min-width 768px 12);
$tablet: new-breakpoint(max-width 767px);
$mobile: new-breakpoint(max-width 480px);

// Colors
$yellow-tribune: #ffc200;
$teal-tribune: #008990;

$gray-medium: #aaaaaa;
$gray-light: #ebebeb;

$bg-contribute: white;
$bg-nav: #000000;

$link-nav: white;

// Typography

// Mixins

