// Breakpoints
$desktop: new-breakpoint(min-width 768px 12);
$tablet: new-breakpoint(max-width 767px);
$mobile: new-breakpoint(max-width 480px);


// Colors
$yellow-tribune: #ffc200;
$teal-tribune: #008990;

$black: #000000;
$gray-medium: #aaaaaa;
$gray-light: #ebebeb;
$white: #ffffff;

$bg-contribute: white;
$bg-nav: #000000;

$link-nav: white;


// Fonts
$league-gothic: 'league-gothic', sans-serif;
$roboto: 'Roboto', sans-serif;


// Mixins
@mixin hide-for-mobile {
  @include media($mobile) {
    display: none;
  }
}

@mixin show-for-mobile {
  display: none;
  @include media($mobile) {
    display: block;
  }
}

@mixin background-sizing {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

