// Breakpoints
$desktop: new-breakpoint(min-width 768px 12);
$tablet: new-breakpoint(max-width 767px and min-width 481px);
$mobile: new-breakpoint(max-width 480px);

// Colors

// Typography

// Mixins

