// Splash banner
.splash {
  @include background-sizing;
  @include media($mobile) {
    background-image: none;
  }
}

.splash-greeting {
  @include span-columns(12);
  padding: 1.5em;
  text-align: center;
  .splash-info {
    padding: 1em 0;
  }
}

.splash-header {
  border-bottom: 3px solid $yellow-tribune;
  font-family: $league-gothic;
  @include media($mobile) {
    border-bottom: none;
  }
}

.splash-support {
  color: $yellow-tribune;
  font-weight: 400;
}

.splash-info, .splash-header {
  color: white;
  font-weight: 200;
}

.splash-info, .splash-support {
  font-size: 1.2em;
  @include hide-for-mobile;
}


// nonprofit nonpartisan tagline
.tagline {
  @include media($mobile) {
    margin: 0.5em 2em 0.5em 0;
  }
}


// Buttons
.button {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5em 1.8em;
  text-align: center;
  &:focus {
    outline: none;
  }
}

.button-flat, .button-flat a {
  background-color: $yellow-tribune;
  border: none;
  color: $black;
  &:hover {
    @include fast-transition(background-color);
    background-color: $teal-tribune;
    color: $white;
  }
}


// General hr style
hr {
  border: 1px solid $gray-light;
}


// Info box
// Used for thank you on circle and watch now for videos
.outer-info {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  text-align: center;
  .inner-info {
    background-color: transparent;
    border: 3px solid $white;
    color: $white;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 2px;
    outline: none;
    padding: 1em 2em;
    text-transform: uppercase;
    hr {
      border-top: 1px solid $white;
      display: inline-block;
      margin: 0 1em;
      vertical-align: middle;
      width: 50px;
    }
    &:hover {
      @include medium-transition(background-color);
      background-color: $teal-tribune;
      border: none;
    }
  }
}


// For videos
.outer-info {
  &.video-wrapper {
    margin-bottom: 1em;
  }
  &#video-top {
    background-image: url("../images/TT-5thAnniversary-still.jpg");
    background-size: cover;
    height: 350px;
  }
  &.secondary-video {
    background-size: cover;
    height: 200px;
    @include hide-for-mobile;
  }
  &#video-two {
    background-image: url("../images/TT-Event-Transportation-Sherman-still.jpg");
    background-position: 50%;
  }
  &#video-three {
    background-image: url("../images/TT-ShaleLife-crop-duster-still.jpg");
  }
  &#video-four {
    background-image: url("../images/TT-ATwistedSystem-Crystal-still.jpg");
  }
}

.watch-more {
  text-align: center;
  @include show-for-mobile;
}

.see-support {
  background-color: $yellow-tribune;
  font-size: 1.2em; 
  font-weight: bold;  
  padding: 0.5em 1em;
}


// Give more cta
.give-more {
  padding: 1em 1em 3em 0;
  h3 {
    padding-bottom: 1em;
  }
  @include media($mobile) {
    padding: 1em 1em 3em 1em;
    text-align: center;
    h3 {
      padding: 0.5em 0;
    }
  }
}


// Benefit flag
h5.benefit-flag {
  background: $yellow-tribune;
  color: black;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.8em;
  padding: 0.5em 1.2em 0.5em 0.5em;
  i {
    color: white;
  }
}


// Social
.social-wrapper {
  margin-bottom: 3em;
}

.social {
  color: $white;
  margin: 0.5em 0.5em 0.5em 0;
  &:hover {
    opacity: 0.9;
  }
}

.facebook {
  background: #2b4185;
}

.twitter {
  background: #4298ed;
}

.email {
  background: $yellow-tribune;
}


// Contact Info
.contact-info {
  margin: 2em 0;
  @include media($mobile) {
    margin: 2em 1em;
  }
  h5 {
    padding: 0 0 1em 0;
  }
  h4, p {
    padding: 0 0 0.2em 0;
  }
}

.section-header {
  margin: 1em 0;
  @include media($mobile) {
    margin: 2em 0 1em 0.5em;
  }
}
