// Splash
.splash {
  background-size: cover;
  @include media($mobile) {
    background-image: none;
  }
}

.splash-landing {
  background-color: #8a9b8a;
  background-image: url("../images/hero-support.jpg");
}

.splash-levels {
  background-color: #180e14;
  background-image: url("../images/hero-benefits.jpg");
}

.splash-circle {
  background-color: #110c12;
  background-image: url("../images/hero-circles.jpg");
}

.splash-greeting {
  @include span-columns(12);
  padding: 1.5em;
  text-align: center;
  .splash-info {
    padding: 1em 0;
  }
  .splash-info, .splash-support {
    font-size: 1.2em;
  }
}


// Index page
.index {
  .splash-greeting {
    text-align: right;
  }
  .main-right {
    @include media($mobile) {
      background-color: black;
    }
  }
}


// Express Checkout
.express-checkout {
  a {
    color: black;
  }
  .contribute {
    background-color: $bg-contribute;
    padding: 2em;
    text-align: center;
    h5, h3, p {
      text-align: left;
    }
    h5 {
      color: $gray-medium;
      padding-top: 0.5em;
    }
    .button {
      margin-top: 1em;
      width: 100%;
    }
    span.dollar {
      color: #b7b7b7;
      float: left;
      font-family: "league-gothic";
      font-size: 4em;
    }
  }
  .renew {
    background-color: $bg-contribute;
    margin-top: 20px;
    padding: 0.8em;
    h4 {
      font-size: 14px;
      font-weight: 200;
    }
    p {
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0px;
    }
  }
  label {
    color: #b2b2b2;
    cursor: pointer;
    font-size: 12px;
    font-weight: black;
    letter-spacing: 2px;
    padding: 0.2em;
    text-transform: uppercase;
    width: 120px;
  }
}

.index {
  .bottom-checkout {
    background-image: url("../images/footer-contribute1.jpg");
  }
}

.levels {
  .bottom-checkout {
    background-image: url("../images/footer-contribute2.jpg");
  }
}

.bottom-checkout {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#contribute-buttons {
  margin: 1em 0;
}

#monthly-bottom {
  clear: both;
  float: right;
}

// Turn off native spinner
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#spinner, #spinner-bottom {
  background-color: $gray-light;
  border: none;
  color: $gray-medium;
  font-family: "league-gothic";
  font-size: 3.5em;
  margin: 0;
  padding-left: 2em;
  width: 200px;
}


// Buttons
.button {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5em 1.8em;
  text-align: center;
}

.button-flat {
  background-color: $yellow-tribune;
  border: none;
  color: black;
}

.button-border {
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  padding: 0.5em 2em;
  &.dark {
    color: black;
    border-color: black;
  }
  &.light {
    color: white;
    border-color: white;
  }
}


// Social
.social {
  color: white;
  margin: 0.5em;
}

.facebook {
  background: #2B4185;
}

.twitter {
  background: #4298ED;
}

.email {
  background: $yellow-tribune;
}


// Contact Info
.contact-info {
  margin: 2em 0;
  h5 {
    padding: 0 0 1em 0;
  }
  h4, p {
    padding: 0 0 0.2em 0;
  }
  h4 {
    font-weight: bold;
  }
  p.title {
    font-style: italic;
  }
}


// Levels grid
.grid-body {
  @include outer-container;
  border-bottom: 2px solid gray;
  td {
    padding: 1em 0;
    @include span-columns(4);
    @include media($mobile) {
      @include span-columns(12);
    }
  }
  h3 {
    display: inline;
  }
  h6 {
    color: $gray-medium;
    text-transform: uppercase;
  }
}

.open-close {
  cursor: pointer;
  .fa-minus-square {
    display: none;
  }
  .fa-plus-square-o, .fa-minus-square {
    color: $yellow-tribune;
    float: left;
    font-size: 1.5em;
    padding: 0.3em;
    text-align: center;
  }
}

.popout {
  display: none;
  td {
    padding: 1em 2em 2em 0;
    vertical-align: sub;
  }
  h6 {
    border-bottom: 3px solid $yellow-tribune;
    padding: 0 0 0.5em 0;
  }
  p {
    padding-top: 1em;
  }
}

.opened {
  .popout {
    display: table-row;
  }
  .fa-plus-square-o {
    display: none;
  }
  .fa-minus-square {
    display: block;
  }
}


// Circle member page
.circle-box-top {
  background-color: black;
  padding: 1em 2.2em;
  text-align: center;
  h3 {
    border-bottom: 2px solid $yellow-tribune;
    color: white;
    padding: 0.2em 0;
  }
  h4, p {
    color: $yellow-tribune;
    padding: 0.2em 0;
  }
}

.circle-box-bottom {
  background-color: white;
  color: black;
  padding: 1em;
  text-align: left;
  .button {
    font-size: 1em;
    font-weight: 600;
    padding: 1em 1.8em;
    width: 45%;
  }
  h5 {
    color: $gray-medium;
  }
}

.circle-box-benefits {
  height: 60px;
}

.thanks-wrapper {
  background-image: url("../images/footer-thanks.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  text-align: center;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  .thank-you {
    border: 3px solid white;
    color: white;
    display: inline-block;
    padding: 1em 2em;
    text-transform: uppercase;
  }
}
