// Splash
.splash {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  background-size: cover;
  height: 550px;
}

.splash-landing {
  background-image: url("../images/people-q-c-640-480-10.jpg");
}

.splash-levels {
  background-image: url("../images/people-q-c-640-480-2.jpg");
}

.splash-circle {
  background-image: url("../images/city-q-c-640-480-5.jpg");
}

.splash-info {
  color: white;
  text-align: right;
}

.splash-support {
  color: $yellow-tribune;
  text-align: right;
}


// Widgets
.support-container {
  @include span-columns(10);
    @include shift(2);
  .splash-greeting {
    @include span-columns(6);
  }
}

.box-contribute {
  @include span-columns(6);
  .contribute {
    @include size(300px 370px);
    background-color: $bg-contribute;
    text-align: center;
  }
  .mail {
    @include size(300px 50px);
    background-color: gray;
    margin-top: 20px;
  }
}

// Buttons
.button {
  background-color: black;
  border: none;
  color: white;
  font-family: $helvetica;
  font-size: 1.5em;
  padding: 0.8em;
  text-align: center;
  text-transform: uppercase;
  width: 250px;
}
