// Splash
.splash {
  background-size: cover;
  @include media($mobile) {
    background-image: none;
  }
}

.splash-landing {
  background-image: url("../images/people-q-c-640-480-10.jpg");
}

.splash-levels {
  background-image: url("../images/people-q-c-640-480-2.jpg");
}

.splash-circle {
  background-image: url("../images/city-q-c-640-480-5.jpg");
}

.splash-greeting {
  @include span-columns(12);
  text-align: center;
  @include media($mobile) {
    background-color: gray;
  }
}

.box-contribute {
  a {
    color: black;
    text-decoration: none;
  }
  .contribute {
    background-color: $bg-contribute;
    padding: 2em;
    text-align: center;
    h5, h2, p {
      text-align: left;
    }
    h5 {
      color: $gray-medium;
    }
  }
  .renew {
    background-color: $bg-contribute;
    margin-top: 20px;
    padding: 0.8em;
  }
}

#spinner {
  background-color: $gray-light;
  border: none;
  color: $gray-medium;
  font-size: 1em;
  margin: 0;
  padding: 1em 2em 1em 1em;
  text-align: right;
}


// Buttons
.button {
  font-family: $helvetica;
  font-size: 1.5em;
  padding: 0.5em 2em;
  text-align: center;
}

.button-flat {
  background-color: $yellow-tribune;
  border: none;
  color: black;
}

.button-border {
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  padding: 0.5em 2em;
  &.dark {
    color: black;
    border-color: black;
  }
  &.light {
    color: white;
    border-color: white;
  }
}


// Levels grid
.grid-body {
  border-bottom: 2px solid gray;
  td.name, td.amount {
    width: 320px;
  }
  td.amount {
    color: $gray-medium;
  }
  td.join, td.renew {
    color: $gray-medium;
    width: 100px;
  }
}

.open-close {
  cursor: pointer;
  .minus {
    display: none;
  }
  .plus, .minus {
    float: left;
    font-size: 1.8em;
    padding: 0.2em;
  }
}

.popout {
  display: none;
}

.opened {
  .popout {
    display: table-row;
  }
  .plus {
    display: none;
  }
  .minus {
    display: block;
  }
}


// Circle member page
.circle-box-top {
  background-color: black;
  padding: 1em 2.2em;
  text-align: center;
  h3 {
    border-bottom: 2px solid $yellow-tribune;
    color: white;
  }
  h4, p {
    color: $yellow-tribune;
  }
}

.circle-box-bottom {
  background-color: white;
  color: black;
  padding: 1em;
  text-align: left;
  .button {
    font-size: 1em;
    font-weight: 600;
  }
  h5 {
    color: $gray-medium;
  }
}

.circle-box-benefits {
  height: 80px;
}


// Turn off native spinner
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


// Spinner styles from jQuery UI
.ui-spinner {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  vertical-align: middle;
}
.ui-spinner-input {
  border: none;
  background: none;
  color: inherit;
  padding: 0;
  margin: .2em 0;
  vertical-align: middle;
  margin-left: .4em;
  margin-right: 22px;
}
.ui-spinner-button {
  background: $yellow-tribune;
  width: 16px;
  height: 50%;
  font-size: .5em;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  cursor: default;
  display: block;
  overflow: hidden;
  right: 0;
}
/* more specificity required here to override default borders */
.ui-spinner a.ui-spinner-button {
  border-top: none;
  border-bottom: none;
  border-right: none;
}
/* vertically center icon */
.ui-spinner .ui-icon {
  position: absolute;
  margin-top: -8px;
  top: 50%;
  left: 0;
}
.ui-spinner-up {
  top: 0;
}
.ui-spinner-down {
  bottom: 0;
}

/* TR overrides */
.ui-spinner .ui-icon-triangle-1-s {
  /* need to fix icons sprite */
  background-position: -65px -16px;
}

.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
}
.ui-widget .ui-widget {
  font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1em;
}
.ui-widget-content {
  background: #ffffff url("images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
  color: #222222;
}
.ui-widget-content a {
  color: #222222;
}
