// Splash
.splash {
  background-size: cover;
  @include media($mobile) {
    background-image: none;
  }
}

.splash-landing {
  background-image: url("../images/people-q-c-640-480-10.jpg");
}

.splash-levels {
  background-image: url("../images/people-q-c-640-480-2.jpg");
}

.splash-circle {
  background-image: url("../images/city-q-c-640-480-5.jpg");
}

.splash-greeting {
  @include span-columns(12);
  text-align: center;
  @include media($mobile) {
    background-color: gray;
  }
}

.express-checkout {
  a {
    color: black;
    text-decoration: none;
  }
  .contribute {
    background-color: $bg-contribute;
    padding: 2em;
    text-align: center;
    h5, h3, p {
      text-align: left;
    }
    h5 {
      color: $gray-medium;
    }
  }
  .renew {
    background-color: $bg-contribute;
    margin-top: 20px;
    padding: 0.8em;
  }
  label {
    cursor: pointer;
    font-family: $helvetica;
    padding: 0.2em;
    text-transform: uppercase;
  }
}

#contribute-buttons {
  margin: 1em 0;
}

#spinner {
  background-color: $gray-light;
  border: none;
  color: $gray-medium;
  font-size: 1em;
  margin: 0;
  padding: 1em 2em 1em 1em;
  text-align: right;
}


// Buttons
.button {
  font-family: $helvetica;
  font-size: 1.5em;
  padding: 0.5em 1.8em;
  text-align: center;
}

.button-flat {
  background-color: $yellow-tribune;
  border: none;
  color: black;
}

.button-border {
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  padding: 0.5em 2em;
  &.dark {
    color: black;
    border-color: black;
  }
  &.light {
    color: white;
    border-color: white;
  }
}

.facebook, .twitter, .email {
  color: white;
  margin: 0.5em;
}

.facebook {
  background: #2B4185;
}

.twitter {
  background: #4298ED;
}

.email {
  background: $yellow-tribune;
}

// Contact Info
.contact-info {
  margin: 2em 0;
  h5 {
    padding: 0 0 1em 0;
  }
  h4, p {
    padding: 0 0 0.2em 0;
  }
}


// Levels grid
.grid-body {
  border-bottom: 2px solid gray;
  td.name, td.amount {
    width: 320px;
  }
  td.amount {
    color: $teal-tribune;
    width: 370px;
  }
  td.join-renew {
    width: 200px;
    a {
      color: $teal-tribune;
      text-decoration: none;
    }
    span {
      padding-right: 5px;
    }
  }
  h6 {
    color: $gray-medium;
    text-transform: uppercase;
  }
}

.open-close {
  cursor: pointer;
  .fa-minus-square {
    display: none;
  }
  .fa-plus-square-o, .fa-minus-square {
    color: $yellow-tribune;
    float: left;
    font-size: 1.5em;
    text-align: center;
  }
}

.popout {
  display: none;
}

.opened {
  .popout {
    display: table-row;
  }
  .fa-plus-square-o {
    display: none;
  }
  .fa-minus-square {
    display: block;
  }
}


// Circle member page
.circle-box-top {
  background-color: black;
  padding: 1em 2.2em;
  text-align: center;
  h3 {
    border-bottom: 2px solid $yellow-tribune;
    color: white;
  }
  h4, p {
    color: $yellow-tribune;
  }
}

.circle-box-bottom {
  background-color: white;
  color: black;
  padding: 1em;
  text-align: left;
  .button {
    font-size: 1em;
    font-weight: 600;
  }
  h5 {
    color: $gray-medium;
  }
}

.circle-box-benefits {
  height: 80px;
}


// Turn off native spinner
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
