hr {
  border: 1px solid $gray-light;
}

// Splash
.splash {
  @include background-sizing;
  @include media($mobile) {
    background-image: none;
  }
}

.splash-landing {
  background-color: #8a9b8a;
  background-image: url("../images/hero-support.jpg");
}

.splash-levels {
  background-color: #180e14;
  background-image: url("../images/hero-benefits.jpg");
}

.splash-circle {
  background-color: #110c12;
  background-image: url("../images/hero-circles.jpg");
}

.splash-greeting {
  @include span-columns(12);
  padding: 1.5em;
  text-align: center;
  .splash-info {
    padding: 1em 0;
  }
}


// Buttons
.button {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5em 1.8em;
  text-align: center;
}

.button-flat {
  background-color: $yellow-tribune;
  border: none;
  color: black;
  &:hover {
    background-color: $teal-tribune;
    color: white;
  }
}

.button-border {
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  padding: 0.5em 2em;
  &.dark {
    color: black;
    border-color: black;
  }
  &.light {
    color: white;
    border-color: white;
  }
}


// Social
.social {
  color: white;
  margin: 0.5em;
}

.facebook {
  background: #2B4185;
}

.twitter {
  background: #4298ED;
}

.email {
  background: $yellow-tribune;
}


// Contact Info
.contact-info {
  margin: 2em 0;
  h5 {
    padding: 0 0 1em 0;
  }
  h4, p {
    padding: 0 0 0.2em 0;
  }
}
