// Splash
.splash {
  background-size: cover;
  @include media($mobile) {
    background-image: none;
  }
}

.splash-landing {
  background-image: url("../images/people-q-c-640-480-10.jpg");
}

.splash-levels {
  background-image: url("../images/people-q-c-640-480-2.jpg");
}

.splash-circle {
  background-image: url("../images/city-q-c-640-480-5.jpg");
}

.splash-greeting {
  @include span-columns(12);
  text-align: center;
  @include media($mobile) {
    background-color: gray;
  }
}

.box-contribute {
  .contribute {
    background-color: $bg-contribute;
    text-align: center;
  }
  .mail {
    background-color: gray;
    margin-top: 20px;
    padding: 0.8em;
    h4, p {
      margin: 0;
    }
  }
}


// Buttons
.button {
  font-family: $helvetica;
  font-size: 1.5em;
  padding: 0.8em;
  text-align: center;
}

.button-flat {
  background-color: black;
  border: none;
  color: white;
  text-transform: uppercase;
}

.button-border {
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  padding: 0.5em 2em;
  &.dark {
    color: black;
    border-color: black;
  }
  &.light {
    color: white;
    border-color: white;
  }
}


// Levels grid
.show-hide {
  float: left;
  .plus {
    font-size: 1.8em;
    padding: 0.2em;
  }
}

.popout {
  display: none;
}

.grid-body {
  border-bottom: 2px solid gray;
}


