html {
  font-family: $helvetica;
  font-size: 14px;
}

h1 {
  font-size: 8em;
  margin: 0;
  @include media($tablet) {
    font-size: 5em;
  }
}

h2 {
  font-size: 3em;
  margin: 0;
}

h3 {
  font-size: 1.8em;
  margin: 0;
}

h4 {
  font-size: 1em;
  margin: 0;
}

h5 {
  color: $gray-medium;
  font-size: 0.8em;
  margin: 0.2em;
  text-transform: uppercase;
}

h6 {
  font-size: 0.9em;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: $teal-tribune;
  text-decoration: none;
}

// Splash typography
.splash-info {
  color: white;
}

.splash-header {
  border-bottom: 3px solid $yellow-tribune;
  color: white;
  font-family: "league-gothic";
  font-weight: 200;
}

.splash-support {
  color: $yellow-tribune;
}


.bottom-checkout {
  h2 {
    border-bottom: 5px solid $yellow-tribune;
    color: white;
    font-family: 'league-gothic';
    font-size: 4em;
    font-weight: 200;
  }
}


// Index levels
.level {
  h4.amount {
    color: $teal-tribune;
  }
  h4.all-above {
    color: black;
    margin-top: 0.5em;
  }
  h5 {
    color: darkgray;
  }
}

h5.benefit-flag {
  background: $yellow-tribune;
  color: black;
  display: inline-block;
  margin-bottom: 0.8em;
  padding: 0.5em 1.2em 0.5em 0.5em;
  i {
    color: white;
  }
}
