html {
  font-family: $roboto;
  font-size: 14px;
}

h1 {
  font-size: 9em;
  margin: 0;
  @include media($tablet) {
    font-size: 5em;
  }
}

h2 {
  font-size: 3em;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 0;
}

h3 {
  font-size: 1.8em;
  margin: 0;
}

h4 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

h5 {
  color: $gray-medium;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0.2em 0;
  text-transform: uppercase;
}

h6 {
  font-size: 0.9em;
  margin: 0;
}

p {
  font-size: 1em;
  margin: 0;
  &.italic {
    font-style: italic;
  }
}

a {
  color: $teal-tribune;
  text-decoration: none;
}

// Splash typography
.splash-header {
  border-bottom: 3px solid $yellow-tribune;
  font-family: $league-gothic;
}

.splash-support {
  color: $yellow-tribune;
  font-weight: 400;
}

.splash-info, .splash-header {
  color: white;
  font-weight: 200;
}

.splash-info, .splash-support {
  font-size: 1.2em;
}
