/*

NOTE: All the hard-coded widths in here suck,
but there isn't a great way around that given
we're still supporting IE 7+ and therefore
can't use flexbox or inline-block.

*/

$carousel-height: 360px;

.donate {
  @include span-columns(6);

  @include media($tablet-carousel) {
    @include span-columns(12);
  }

  @include media($mobile) {
    background-color: $white;
  }

  &__inner {
    background-color: $white;
    padding: 1.5em;
    position: relative;
    transition: opacity .5s;
    zoom: 1;

    @include media($tablet-carousel) {
      margin: 0 auto;
      max-width: $mobile-width;
    }

    &.unloaded {
      &:before {
        @extend .uppercase;
        @extend .weight--bold;
        background-color: rgba($white, .95);
        color: $teal-tribune;
        content: 'Loading...';
        height: 100%;
        left: 0;
        line-height: $carousel-height;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    }

    &.loaded {
      &:before {
        content: '';
      }
    }
  }

  &__mail {
    color: $white;
    margin-top: 1em;
    text-align: center;

    @include media($mobile) {
      background-color: $white;
      color: $black;
      // iOS shows a weird line if
      // you don't do -1px as margin-top
      margin: -1px auto 0 auto;
      max-width: $mobile-width;
      padding: 1em 1.5em;

      a {
        color: $teal-tribune;
      }
    }
  }
}

.carousel {
  // needs to be hard coded to
  // keep prev/next buttons from moving
  height: $carousel-height;
  overflow: hidden;
  width: 100%;

  &__form {
    position: relative; // for old IE so we can use left instead of translate
    transition: transform .5s;
    will-change: transform;
  }

  &__slide {
    display: block;
    float: left;
    margin: 0;
    padding: 0 .25em;

    &--frequency {
      @extend .carousel__slide;
    }

    &--range {
      @extend .carousel__slide;
    }

    &--amount {
      @extend .carousel__slide;
    }
  }

  &__fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  &__legend {
    @extend .weight--bold;
    display: block;
    font-size: 1.4em;
    margin-bottom: 1em;
  }

  &__label {
    @extend .form-button--full;
    border-color: $yellow-tribune;
    color: $black;
    margin-top: 1em;

    &--selected {
      @extend .carousel__label;
      background-color: $white;
      // prevent checkmark from moving
      text-indent: 16px;
    }

    &--normal {
      @extend .carousel__label;
      background-color: $yellow-tribune;
    }

    &:first-child {
      margin-top: 0;
    }

    &:hover {
      background-color: $white;
    }
  }

  &__checkmark {
    color: $yellow-tribune;

    .carousel__label--selected & {
      display: inline;
    }

    .carousel__label--normal & {
      display: none;
    }
  }

  &__student {
    margin-top: 1em;
  }

  &__manual {
    margin: 1em auto;
    max-width: 250px;
  }

  &__manual-label {
    @extend .weight--bold;
    float: left;
    // for vertical centering
    line-height: 25px;
    margin-right: .5em;
  }

  &__manual-input {
    @extend .weight--bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    display: block;
    float: right;
    // for vertical centering
    height: 25px;
    text-indent: .5em;
    width: 100px;

    &--selected {
      @extend .carousel__manual-input;
      border-color: $teal-tribune;
    }

    &--invalid {
      @extend .carousel__manual-input;
      border-color: $error-red;
    }

    &--normal {
      @extend .carousel__manual-input;
      border-color: $gray-medium;
    }
  }

  &__manual-error {
    color: $error-red;
    font-size: .7em;
    margin: .25em 0 0 0;
    text-align: right;
  }

  &__submit {
    @extend .form-button--full;
    @extend .uppercase;
    background-color: #222;
    border-color: #222;
    color: $white;
    display: block;

    &:hover {
      color: $yellow-tribune;
    }
  }

  &__controls {
    bottom: 1em;
    display: table;
    left: 50%;
    margin-left: -115px;
    position: absolute;
    width: 230px;
  }

  &__indicators {
    list-style: none;
    display: table-cell;
    padding: 0 1.5em;
    vertical-align: middle;
  }

  &__dot {
    border-radius: 50%;
    display: block;
    float: left;
    height: 10px;
    margin-right: 1.5em;
    width: 10px;

    &--normal {
      @extend .carousel__dot;
      background-color: $gray-medium;
    }

    &--selected {
      @extend .carousel__dot;
      background-color: $gray-dark;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__button {
    @extend .weight--bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: none;
    color: $teal-tribune;
    display: table-cell;
    font-size: 1.2em;
    padding: 0;
    vertical-align: middle;

    &--prev, &--next {
      @extend .carousel__button;
    }

    &.disabled {
      color: $white;
    }
  }
}
