.donate {
  @include span-columns(6);

  @media (max-width: 840px) {
    @include span-columns(12);
  }

  &__inner {
    background-color: $white;
    padding: 1em;
    position: relative;

    @media (max-width: 840px) {
      margin: 0 auto;
      max-width: 520px;
    }
  }

  &__mail {
    color: $white;
    margin-top: 1em;
    text-align: center;

    @include media($mobile) {
      background-color: $white;
      color: $black;
      margin: -1px auto 0 auto;
      max-width: 520px;
      padding: 1em 1.5em;

      a {
        color: $teal-tribune;
      }
    }
  }
}

.carousel {
  min-height: 360px;
  overflow: hidden;
  width: 100%;

  &__form {
    transition: transform .5s;
  }

  &__slide {
    display: block;
    float: left;
    margin: 0;

    &--frequency {
      @extend .carousel__slide;
    }

    &--range {
      @extend .carousel__slide;
    }

    &--amount {
      @extend .carousel__slide;
    }
  }

  &__fieldset {
    border: none;
  }

  &__legend {
    font-weight: bold;
    font-size: 1.4em;

    @include media($mobile) {
      font-size: 1.1em;
    }
  }

  &__radios {
    margin-top: .5em;
  }

  &__label {
    color: black;
    cursor: pointer;
    border: 2px solid $yellow-tribune;
    display: block;
    font-weight: bold;
    margin-top: 1em;
    padding: .5em 0;
    text-align: center;
    text-transform: uppercase;
    transition: background-color .3s;
    width: 100%;

    &--selected {
      @extend .carousel__label;
      background-color: $white;
      text-indent: 16px;
    }

    &--normal {
      @extend .carousel__label;
      background-color: $yellow-tribune;
    }

    &:first-of-type {
      margin-top: 0;
    }

    &:hover {
      background-color: $white;
    }
  }

  &__label-main {
    font-weight: bold;
  }

  &__label-sub {
    font-size: .8em;
    font-weight: normal;
    text-transform: lowercase;
  }

  &__checkmark {
    color: $yellow-tribune;

    .carousel__label--selected & {
      display: inline;
    }

    .carousel__label--normal & {
      display: none;
    }
  }

  &__radio {

  }

  &__circle {
    margin-top: 1em;
  }

  &__student {
    margin-top: 1em;
  }

  &__manual {
    margin: 1em auto 0 auto;
    max-width: 250px;
  }

  &__manual-els {

  }

  &__manual-label {
    float: left;
    font-weight: bold;
    line-height: 25px;
    margin-right: .5em;
  }

  &__manual-input {
    border-style: solid;
    border-width: 1px;
    display: block;
    float: right;
    font-weight: bold;
    height: 25px;
    text-indent: .5em;
    width: 100px;

    &--selected {
      @extend .carousel__manual-input;
      border-color: $teal-tribune;
    }

    &--invalid {
      @extend .carousel__manual-input;
      border-color: $error-red;
    }

    &--normal {
      @extend .carousel__manual-input;
      border-color: $gray-medium;
    }
  }

  &__manual-error {
    color: $error-red;
    font-size: .7em;
    margin: .25em 0 1em 0;
    text-align: right;
  }

  &__submit {
    background-color: $yellow-tribune;
    border: 2px solid $yellow-tribune;
    color: black;
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: .5em 0;
    text-align: center;
    text-transform: uppercase;
    transition: background-color .3s;
    width: 100%;

    &:hover {
      background-color: $white;
    }
  }

  &__controls {
    bottom: 1em;
    left: 50%;
    margin-left: -110px;
    position: absolute;
    width: 220px;
  }

  &__indicators {
    float: left;
    list-style: none;
    margin: 0 1em;
    padding: .4em 0;
  }

  &__dot {
    border-radius: 50%;
    display: block;
    float: left;
    height: 10px;
    margin-right: 1.5em;
    width: 10px;

    &--normal {
      @extend .carousel__dot;
      background-color: $gray-medium;
    }

    &--selected {
      @extend .carousel__dot;
      background-color: $gray-dark;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: none;
    color: $teal-tribune;
    font-weight: bold;

    &--prev {
      @extend .carousel__button;
      float: left;
    }

    &--next {
      @extend .carousel__button;
      float: right;
    }

    &.disabled {
      color: $white;
    }
  }
}
