.carousel {
  width: 500px;
  overflow: hidden;
  position: relative;

  &__form {

  }

  &__slide {
    display: block;
    float: left;

    &--frequency {
      @extend .carousel__slide;
    }

    &--range {
      @extend .carousel__slide;
    }

    &--amount {
      @extend .carousel__slide;
    }
  }

  &__legend {

  }

  &__radios {

  }

  &__label {

  }

  &__label-text {

  }

  &__radio {

  }

  &__manual {

  }

  &__manual-label {

  }

  &__manual-radio {

  }

  &__manual-input {

  }

  &__manual-error {

  }

  &__buttons {

  }

  &__item {

  }

  &__button {
    &--prev {

    }

    &--next {

    }

    &--submit {

    }
  }
}
