/*

NOTE: All the hard-coded widths in here suck,
but there isn't a great way around that given
we're still supporting IE 7+ and therefore
can't use flexbox or inline-block.

*/

.donate {
  @include span-columns(6);

  @include media($tablet-carousel) {
    @include span-columns(12);
  }

  @include media($mobile) {
    background-color: $white;
  }

  &__inner {
    background-color: $white;
    padding: 1.5em;
    position: relative;
    transition: opacity .5s;
    zoom: 1;

    @include media($tablet-carousel) {
      margin: 0 auto;
      max-width: $mobile-width;
    }

    &.unloaded {
      @include opacity-cross-browser(0);
    }

    &.loaded {
      @include opacity-cross-browser(1);
    }
  }

  &__mail {
    color: $white;
    margin-top: 1em;
    text-align: center;

    @include media($mobile) {
      background-color: $white;
      color: $black;
      // iOS shows a weird line if
      // you don't do -1px as margin-top
      margin: -1px auto 0 auto;
      max-width: $mobile-width;
      padding: 1em 1.5em;

      a {
        color: $teal-tribune;
      }
    }
  }
}

.carousel {
  // needs to be hard coded to
  // keep prev/next buttons from moving
  height: 360px;
  overflow: hidden;
  width: 100%;

  &__form {
    position: relative; // for old IE so we can use left instead of translate
    transition: transform .5s;
    will-change: transform;
  }

  &__slide {
    display: block;
    float: left;
    margin: 0;

    &--frequency {
      @extend .carousel__slide;
    }

    &--range {
      @extend .carousel__slide;
    }

    &--amount {
      @extend .carousel__slide;
    }
  }

  &__fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  &__legend {
    display: block;
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 1em;

    @include media($mobile) {
      font-size: 1.1em;
    }
  }

  &__label {
    @extend .form-button--full;
    border-color: $yellow-tribune;
    margin-top: 1em;

    &--selected {
      @extend .carousel__label;
      background-color: $white;
      // prevent checkmark from moving
      text-indent: 16px;
    }

    &--normal {
      @extend .carousel__label;
      background-color: $yellow-tribune;
    }

    &:first-child {
      margin-top: 0;
    }

    &:hover {
      background-color: $white;
    }
  }

  &__checkmark {
    color: $yellow-tribune;

    .carousel__label--selected & {
      display: inline;
    }

    .carousel__label--normal & {
      display: none;
    }
  }

  &__student {
    margin-top: 1em;
  }

  &__manual {
    margin: 1em auto;
    max-width: 250px;
  }

  &__manual-label {
    @extend .bold;
    float: left;
    // for vertical centering
    line-height: 25px;
    margin-right: .5em;
  }

  &__manual-input {
    @extend .bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    display: block;
    float: right;
    // for vertical centering
    height: 25px;
    text-indent: .5em;
    width: 100px;

    &--selected {
      @extend .carousel__manual-input;
      border-color: $teal-tribune;
    }

    &--invalid {
      @extend .carousel__manual-input;
      border-color: $error-red;
    }

    &--normal {
      @extend .carousel__manual-input;
      border-color: $gray-medium;
    }
  }

  &__manual-error {
    color: $error-red;
    font-size: .7em;
    margin: .25em 0 0 0;
    text-align: right;
  }

  &__submit {
    @extend .form-button--full;
    @extend .uppercase;
    background-color: $yellow-tribune;
    border-color: $yellow-tribune;
    display: block;

    &:hover {
      background-color: $white;
    }
  }

  &__controls {
    bottom: 1em;
    left: 50%;
    margin-left: -98px;
    position: absolute;
    width: 196px;
  }

  &__indicators {
    float: left;
    list-style: none;
    margin: 0 1em;
    padding: .3em 0;
  }

  &__dot {
    border-radius: 50%;
    display: block;
    float: left;
    height: 10px;
    margin-right: 1.5em;
    width: 10px;

    &--normal {
      @extend .carousel__dot;
      background-color: $gray-medium;
    }

    &--selected {
      @extend .carousel__dot;
      background-color: $gray-dark;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__button {
    @extend .bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: none;
    color: $teal-tribune;
    padding: 0;

    &--prev, &--next {
      @extend .carousel__button;
      float: left;
    }

    &.disabled {
      color: $white;
    }
  }
}
