.checkout {
  @include span-columns(5);
  background-color: $white;
  padding: 1em 1em 0 1em;
  position: relative;
  zoom: 1;

  @include media($tablet-carousel) {
    @include span-columns(12);
    margin: 0 auto;
    max-width: $mobile-width;
  }

  @include media($mobile) {
    border-bottom: 1px solid $gray-light;
    padding-bottom: 1.5em;
  }

  &__legend {
    @extend .weight--bold;
    display: block !important; // old iOS versions
    font-size: 1.8em;
    text-align: center;
  }

  &__group {
    border: none;
    margin: 0;
    padding: 0;

    &--amounts {

    }

    &--frequencies {

    }

    &--submit {

    }
  }

  &__amounts,
  &__frequencies {
    list-style: none;
    margin: 1em 0 0 0;
    padding: 0;
  }

  &__amounts-item {
    display: inline-block;
    margin-right: 15px;
    width: calc(33.3% - 10px);

    &:nth-child(n+4) {
      margin-top: 1em;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &__amounts-radio,
  &__frequencies-radio {

  }

  &__amounts-radio {

  }

  &__frequencies-radio {

  }

  &__amounts-label,
  &__frequencies-label {
    text-align: center;
  }

  &__amounts-label {
    @extend .form-button--thin;
    @extend .bold;
    background-color: $yellow-tribune;
    border-color: $yellow-tribune;
    color: $black;
    display: block;

    .checkout__amounts-radio:checked + &,
    .checkout__frequencies-radio:checked + & {
      background-color: $white;
    }

    &:hover {
      background-color: $white;
    }
  }

  &__frequencies-label {

  }

  &__manual {
    margin-top: 1em;
  }
}

.carousel {
  &__label {

  }

  &__dollars {
    @extend .weight--bold;
    font-size: .9em;
  }

  &__student {
    margin-top: 1em;
  }

  &__manual {
    margin: 1em auto;
    max-width: 250px;
  }

  &__manual-label {
    @extend .weight--bold;
    float: left;
    // for vertical centering
    line-height: 25px;
    margin-right: .5em;
  }

  &__manual-input {
    @extend .weight--bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    display: block;
    float: right;
    // for vertical centering
    height: 25px;
    text-indent: .5em;
    width: 100px;

    &--selected {
      @extend .carousel__manual-input;
      border-color: $teal-tribune;
    }

    &--invalid {
      @extend .carousel__manual-input;
      border-color: $error-red;
    }

    &--normal {
      @extend .carousel__manual-input;
      border-color: $teal-tribune;
    }
  }

  &__manual-error {
    color: $error-red;
    font-size: .7em;
    margin: .25em 0 0 0;
    text-align: right;
  }

  &__submit {
    @extend .uppercase;
    @extend .weight--bold;
    background-color: #222;
    border-color: #222;
    color: $white;
    display: block;

    &:hover {
      background-color: $white;
      color: #222;
    }
  }
}
