.index {
  .splash {
    background-color: lighten($black, 20%);
    background-image: url('../bg/support-us-header-bg.jpg');

    @include media($mobile) {
      background-image: none;
    }
  }

  .splash-header {
    border-bottom: none;
    font-size: 2.5em;

    @include media($mobile) {
      font-size: 1.6em;
      // following two properties are useful
      // when applying dark overlay via :before
      position: relative;
      z-index: 2;
    }
  }

  .splash-greeting {
    text-align: left;

    @include span-columns(6);
      @include shift(0);

    @include media($tablet-carousel) {
      @include span-columns(12);
      text-align: center;
    }

    @include media($mobile) {
      background-image: url('../bg/support-us-header-bg.jpg');
      background-size: cover;
      position: relative;

      // to make the text stand out
      &:before {
        background-color: rgba($black, .4);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    }
  }

  .splash-info {
    @include media($tablet-carousel) {
      display: none;
    }
  }

  .splash-wrapper {
    @include media($tablet-carousel) {
      padding: 2em 1em;
    }

    @include media($mobile) {
      padding: 0;
    }
  }

  .section {
    h3 {
      margin-bottom: .5em;
    }
  }

  .give-more {
    margin-top: 2em;

    h5 {
      margin-bottom: 1em;
    }
  }
}
