// Breakpoints
$desktop: new-breakpoint(min-width 800px 12);
$tablet: new-breakpoint(max-width 799px);
$mobile: new-breakpoint(max-width 520px);


// Colors
$yellow-tribune: #ffc200;
$teal-tribune: #008990;
$error-red: #db2f2f;

$black: #000000;
$gray-dark: #444;
$gray-medium: #aaaaaa;
$gray-light: #ebebeb;
$white: #ffffff;

$bg-contribute: white;
$bg-nav: #000000;

$link-nav: white;


// Mixins
@mixin hide-for-mobile {
  @include media($mobile) {
    display: none;
  }
}

@mixin show-for-mobile {
  display: none;
  @include media($mobile) {
    display: block;
  }
}

// for visually hiding but remaining accessible
@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

@mixin background-sizing {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

@mixin fast-transition($property) {
  @include transition-property($property);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in);
}

@mixin medium-transition($property) {
  @include transition-property($property);
  @include transition-duration(0.5s);
  @include transition-timing-function(ease-in);
}


// Helper classes
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.hidden {
  display: none;
}

.hide-mobile {
  @include hide-for-mobile;
}

.show-mobile {
  @include show-for-mobile;
}

// clearfix
.clearfix {
  &:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
  }
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
