// Splash banner
.splash {
  @include background-sizing;

  @include media($mobile) {
    background-image: none;
  }
}

.splash-greeting {
  @include span-columns(12);
  padding: 1.5em;
  text-align: center;

  .splash-info {
    padding: 1em 0;
  }
}

.splash-header {
  border-bottom: 3px solid $yellow-tribune;
  color: $white;

  @include media($mobile) {
    border-bottom: none;
  }
}

.splash-support {
  color: $yellow-tribune;
}
.splash-info {
  color: $white;
}

.splash-info, .splash-support {
  @extend .weight--normal;
  @include hide-for-mobile;
  font-size: 1.2em;
  letter-spacing: .03em;
  line-height: 1.4;
}

.splash-link {
  text-decoration: underline;

  &--teal {
    @extend .splash-link;
    color: $teal-tribune;
  }

  &--yellow {
    @extend .splash-link;
    color: $yellow-tribune;
  }
}


// faq specific styles; keeping here until enough to merit its own file
.faq {
  .splash {
    background-color: lighten($black, 20%);
    background-image: url('../bg/bg1.jpg');
  }

  .main {
    padding: 2em;
    h4 {
      margin-top: 2em;
    }
    p {
      margin: 0.5em 0;
    }
  }
}


// nonprofit nonpartisan tagline
.tagline {
  @include media($mobile) {
    margin: 0.5em 2em 0.5em 0;
  }
}


// Buttons
.button {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5em 1.8em;
  text-align: center;

  &:focus {
    outline: none;
  }
}

.button-flat, .button-flat a {
  background-color: $yellow-tribune;
  border: none;
  color: $black;

  &:hover {
    @include fast-transition(background-color);
    background-color: $teal-tribune;
    color: $white;
  }
}


// General hr style
hr {
  border: 1px solid $gray-light;
}


// Info box
// Used for thank you on circle and watch now for videos
.outer-info {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  text-align: center;

  .inner-info {
    background-color: transparent;
    border: 3px solid $white;
    color: $white;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 2px;
    outline: none;
    padding: 1em 2em;
    text-transform: uppercase;

    a {
      color: $white;
    }

    hr {
      border-top: 1px solid $white;
      display: inline-block;
      margin: 0 1em;
      vertical-align: middle;
      width: 50px;
    }

    &:hover {
      @include medium-transition(background-color);
      background-color: $teal-tribune;
      border: none;
    }
  }
}


// For videos
.outer-info {
  &.video-wrapper {
    margin-bottom: 1.5em;
  }

  &#video-top {
    background-color: lighten($black, 20%);
    background-size: cover;
    height: 350px;
    @include media($mobile) {
      height: 200px;
    }
  }

  &.secondary-video {
    background-color: lighten($black, 20%);
    background-size: cover;
    height: 200px;
  }
}

.outer-video-wrapper {
  @include hide-for-mobile;
}

.watch-more {
  text-align: center;
  @include show-for-mobile;
}

.video-label {
  background-color: $yellow-tribune;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5em 1em;
}


// Give more cta and mail-a-check section
.extra-info {
  padding: 1em 1em 3em 0;

  h3 {
    padding-bottom: 1em;
  }

  @include media($mobile) {
    padding: 1em 1em 3em 1em;
    text-align: center;

    h3 {
      padding: 0.5em 0;
    }
  }
}


// Benefit flag
h5.benefit-flag {
  background: $yellow-tribune;
  color: black;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.8em;
  padding: 0.5em 1.2em 0.5em 0.5em;

  i {
    color: white;
  }
}


// Social
.social-wrapper {
  margin-bottom: 3em;
}

.social {
  color: $white;
  margin: 0.5em 0.5em 0.5em 0;

  &:hover {
    opacity: 0.9;
  }
}

.facebook {
  background: #2b4185;
}

.twitter {
  background: #4298ed;
}

.email {
  background: $yellow-tribune;
}


// Contact Info
.contact-info {
  margin: 2em 0;

  @include media($mobile) {
    margin: 2em 1em;
  }

  h5 {
    padding: 0 0 1em 0;
  }

  h4, p {
    padding: 0 0 0.2em 0;
  }
}

.section-header {
  margin: 1em 0;

  @include media($mobile) {
    margin: 2em 0 1em 0.5em;
  }
}

.form-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border-radius: 0;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  transition: background-color .3s;

  &--full {
    @extend .form-button;
    display: block;
    width: 100%;
  }

  &--third {
    @extend .form-button;
    display: block;
    float: left;
    margin-right: 5%;
    width: 30%;

    &:first-child,
    &:nth-child(2),
    &:nth-child(3) {
      margin-top: 0;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &--thick {
    @extend .form-button;
    padding: 1em 0;
  }

  &--thin {
    @extend .form-button;
    padding: .5em 0;
  }
}
