<div class="bottom-checkout">
  <div class="express-checkout">
    <div class="contribute">
      <h2>Ready to Support?</h2>
      <form id="contribution-form-bottom" action="https://givalike.org/public/quickgive.aspx?cid=227" method="get">
        <div class="left-wrapper">
          <span class="dollar">$</span><input name="amount" value="9" min="3" max="5000" type="number" id="spinner-bottom">
        </div>
        <div class="right-wrapper">
          <div id="contribute-buttons-bottom">
              <input type="radio" value="year" id="yearly-bottom" name="frequency-bottom">
              <label for="yearly-bottom"><i class="fa fa-check"></i>Annually</label>
              <input checked="checked" type="radio" value="month" id="monthly-bottom" name="frequency-bottom">
              <label for="monthly-bottom"><i class="fa fa-check"></i>Monthly</label>
          </div>
        </div>
        <button type="submit" class="button button-flat">Join Now <i class="fa fa-angle-right"></i></button>
        <a href="https://givalike.org/public/quickgive.aspx?cid=227">
          <div class="button button-flat">Or renew your membership <i class="fa fa-angle-right"></i>
          </div>
        </a>
      </form>
    </div>
  </div><!-- express-checkout -->
</div><!-- bottom-checkout -->

<script>
  // Initialize bottom number input spinner for express checkout
  $("#spinner-bottom").spinner();

  // Initialize bottom radio buttonset for monthly/annually
  $("#contribute-buttons-bottom").buttonset();

  // Determine if contribution frequency is monthly
  var get_frequency = function() {
    if ($("label[for='monthly-bottom']").hasClass('ui-state-active')) {
      is_monthly = true;
    } else {
      is_monthly = false;
    }
  };

  // if 'Annually' is clicked, multiply val by 12
  $("label[for='yearly-bottom']").on('click', function() {
    var currentVal, newVal;
    currentVal = parseInt($('#spinner-bottom').val());
    currentVal *= 12;
    newVal = currentVal;
    $('#spinner-bottom').attr('value', newVal);
  });

  // if 'Monthly' is clicked, divide val by 12
  $("label[for='monthly-bottom']").on('click', function() {
    var currentVal, newVal;
    currentVal = parseInt($('#spinner-bottom').val());
    newVal = Math.ceil(currentVal / 12);
    $('#spinner-bottom').attr('value', newVal);
  });

  // When user submits a contribution
 // Pass appropriate querystring params to Givalike
 $('#contribution-form-bottom').submit(function(e) {

    // Don't submit the form as is
    e.preventDefault();

    // Base Givalike url
    var url = "https://givalike.org/public/quickgive.aspx?cid=227";

    // Grab contribution amount
    var amount = $('#spinner-bottom').val();

    // Get frequency and set if monthly or not
    get_frequency();
    if (is_monthly) {
      monthly = 1;
    } else {
      monthly = 0;
    }

    // Add params to url
    url += '&amount=';
    url += amount;

    url += '&monthly=';
    url += monthly;

    $('#contribution-form-bottom').get(0).setAttribute('action', url);

    // Go to Givalike
    $(location).attr('href',url);
  });
</script>
