<div class="bottom-checkout">
  <div class="express-checkout">
    <div class="contribute">
      <h2>Ready to Support?</h2>
      <form id="contribution-form-bottom" action="https://givalike.org/public/quickgive.aspx?cid=227" method="get">
        <div class="left-wrapper">
          <span class="dollar">$</span><input name="amount" value="9" min="3" max="5000" type="number" id="spinner-bottom">
        </div>
        <div class="right-wrapper">
          <div id="contribute-buttons-bottom">
              <input type="radio" value="year" id="yearly-bottom" name="frequency-bottom">
              <label for="yearly-bottom"><i class="fa fa-check"></i>Annually</label>
              <input checked="checked" type="radio" value="month" id="monthly-bottom" name="frequency-bottom">
              <label for="monthly-bottom"><i class="fa fa-check"></i>Monthly</label>
          </div>
        </div>
        <button type="submit" class="button button-flat">Join or Renew <i class="fa fa-chevron-right"></i></button>
        <div class="donate-link"><p>Make a <a href="https://givalike.org/public/quickgive.aspx?cid=321"><span>One-Time Donation</span></a></p></div>
      </form>
    </div>
  </div><!-- express-checkout -->
</div><!-- bottom-checkout -->
