<div class="nav mobile-nav">
  <ul>
    <li>
      <a href="<%= campaign_page_url %>" onclick="ga('send', 'event', 'Support Page', 'nav-bar', 'mobile-fall-member-drive-2017', {'nonInteraction': 1})">Fall Member Drive 2017</a>
    </li>
    <li>
      <a href="/index.html" onclick="ga('send', 'event', 'Support Page', 'nav-bar', 'mobile-become-a-member', {'nonInteraction': 1})">Tribune membership</a>
    </li>
    <li>
      <a href="/levels.html" onclick="ga('send', 'event', 'Support Page', 'nav-bar', 'mobile-explore-levels', {'nonInteraction': 1})">Explore Levels</a>
    </li>
    <li>
      <a href="/circle.html" onclick="ga('send', 'event', 'Support Page', 'nav-bar', 'mobile-circle-membership', {'nonInteraction': 1})">Circle Membership</a>
    </li>
    <li>
      <a href="https://www.texastribune.org/support-us/donors-and-members/" onclick="ga('send', 'event', 'Support Page', 'nav-bar', 'mobile-donor-and-member-wall', {'nonInteraction': 1})">Donor and Member Wall</a>
    </li>
    <li>
      <a href="https://www.texastribune.org/support-us/corporate-sponsors/" onclick="ga('send', 'event', 'Support Page', 'nav-bar', 'mobile-corporate-sponsors', {'nonInteraction': 1})">Corporate Sponsors</a>
    </li>
    <li>
      <a href="/faq.html" onclick="ga('send', 'event', 'Support Page', 'nav-bar', 'mobile-faq', {'nonInteraction': 1})">Frequently Asked Questions</a>
    </li>
  </ul>
</div>
