<div class="nav mobile-nav">
  <ul>
    <li>
      <a href="/campaign.html" onclick="ga('send', 'event', 'Support Page', 'nav-bar', 'mobile-fall-member-drive-2017', {'nonInteraction': 1})">Fall member drive</a>
    </li>
    <li>
      <a href="/index.html" onclick="ga('send', 'event', 'Support Page', 'nav-bar', 'mobile-become-a-member', {'nonInteraction': 1})">Tribune membership</a>
    </li>
    <li>
      <a href="https://www.texastribune.org/support-us/donors-and-members/" onclick="ga('send', 'event', 'Support Page', 'nav-bar', 'mobile-donor-and-member-wall', {'nonInteraction': 1})">Donor and Member Wall</a>
    </li>
    <li>
      <a href="/faq.html" onclick="ga('send', 'event', 'Support Page', 'nav-bar', 'mobile-faq', {'nonInteraction': 1})">Frequently Asked Questions</a>
    </li>
  </ul>
</div>
