<div class="nav mobile-nav">
  <ul>
    <li>
      <a href="/campaign.html" onclick="ga('send', 'event', 'Support Page', 'nav-bar', 'mobile-tribfest-raffle-2017', {'nonInteraction': 1})">About the raffle</a>
    </li>
    <li>
      <a href="/index.html" onclick="ga('send', 'event', 'Support Page', 'nav-bar', 'mobile-become-a-member', {'nonInteraction': 1})">Tribune membership</a>
    </li>
    <li>
      <a href="https://www.texastribune.org/2017/09/22/live-blog-texas-tribune-festival-2017/" onclick="ga('send', 'event', 'Support Page', 'nav-bar', 'mobile-follow-tribfest17', {'nonInteraction': 1})">Follow #TribFest17</a>
    </li>
    <li>
      <a href="https://www.texastribune.org/support-us/donors-and-members/" onclick="ga('send', 'event', 'Support Page', 'nav-bar', 'mobile-donor-and-member-wall', {'nonInteraction': 1})">Donor and Member Wall</a>
    </li>
    <li>
      <a href="/faq.html" onclick="ga('send', 'event', 'Support Page', 'nav-bar', 'mobile-faq', {'nonInteraction': 1})">Frequently Asked Questions</a>
    </li>
  </ul>
</div>
