<div class="nav desktop-nav">
  <ul>
    <li <% if current_page.data.title == 'Become a Member' %>class="active"<% end %>>
      <a href="/index.html" onclick="ga('send', 'event', 'Support Page', 'nav-bar', 'desktop-become-a-member', {'nonInteraction': 1})">Become<br> a Member<i class="fa fa-caret-down"></i></a>
    </li>
    <li <% if current_page.data.title == 'Explore Levels' %>class="active"<% end %>>
      <a href="/levels.html" onclick="ga('send', 'event', 'Support Page', 'nav-bar', 'desktop-explore-levels', {'nonInteraction': 1})">Explore<br> Levels<i class="fa fa-caret-down"></i></a>
    </li>
    <li <% if current_page.data.title == 'Circle Membership' %>class="active"<% end %>>
      <a href="/circle.html" onclick="ga('send', 'event', 'Support Page', 'nav-bar', 'desktop-circle-membership', {'nonInteraction': 1})">Circle<br> Membership<i class="fa fa-caret-down"></i></a>
    </li>
    <li>
      <a href="http://www.texastribune.org/support-us/donors-and-members/" onclick="ga('send', 'event', 'Support Page', 'nav-bar', 'desktop-donor-and-member-wall', {'nonInteraction': 1})">Donor and<br> Member Wall</a>
    </li>
    <li>
      <a href="http://www.texastribune.org/support-us/corporate-sponsors/" onclick="ga('send', 'event', 'Support Page', 'nav-bar', 'desktop-corporate-sponsors', {'nonInteraction': 1})">Corporate<br> Sponsors</a>
    </li>
    <li <% if current_page.data.title == 'Frequently Asked Questions' %>class="active"<% end %>>
      <a href="/faq.html" onclick="ga('send', 'event', 'Support Page', 'nav-bar', 'desktop-faq', {'nonInteraction': 1})">Frequently<br> Asked Questions<i class="fa fa-caret-down"></i></a>
    </li>
  </ul>
</div>
