<footer id="footer" class="footer">
  <nav class="left-nav">
    <ul>
      <li class="copyright">&copy; 2016 <a href="http://www.texastribune.org/">The Texas Tribune</a></li>
    </ul>
  </nav>
  <nav class="right-nav">
    <ul>
      <li><a href="http://www.texastribune.org/about/" onclick="ga('send', 'event', 'donations-app', 'click', 'footer-about', {'nonInteraction': 1})">About Us</a></li>
      <li><a href="http://www.texastribune.org/contact/" onclick="ga('send', 'event', 'donations-app', 'click', 'footer-contact', {'nonInteraction': 1})">Contact Us</a></li>
      <li><a href="http://www.texastribune.org/support-us/donors-and-members/" onclick="ga('send', 'event', 'donations-app', 'click', 'footer-funds', {'nonInteraction': 1})">Who Funds Us?</a></li>
      <li><a href="http://www.texastribune.org/terms-of-service/" onclick="ga('send', 'event', 'donations-app', 'click', 'footer-terms', {'nonInteraction': 1})">Terms of Service</a></li>
      <li><a href="http://www.texastribune.org/ethics/" onclick="ga('send', 'event', 'donations-app', 'click', 'footer-ethics', {'nonInteraction': 1})">Code of Ethics</a></li>
      <li><a href="http://www.texastribune.org/privacy/" onclick="ga('send', 'event', 'donations-app', 'click', 'footer-privacy', {'nonInteraction': 1})">Privacy Policy</a></li>
      <li class="donate"><a href="https://checkout.texastribune.org/donateform" onclick="ga('send', 'event', 'donations-app', 'click', 'footer-donate', {'nonInteraction': 1})">Donate</a></li>
    </ul>
  </nav>
</footer>
