<footer id="footer" class="footer">
  <nav class="left-nav">
    <ul>
      <li class="copyright">&copy; 2015 <a href="http://www.texastribune.org/">The Texas Tribune</a></li>
    </ul>
  </nav>
  <nav class="right-nav">
    <ul>
      <li><a href="http://www.texastribune.org/about/">About Us</a></li>
      <li><a href="http://www.texastribune.org/contact/">Contact Us</a></li>
      <li><a href="http://www.texastribune.org/support-us/donors-and-members/">Who Funds Us?</a></li>
      <li><a href="http://www.texastribune.org/terms-of-service/">Terms of Service</a></li>
      <li><a href="http://www.texastribune.org/ethics/">Code of Ethics</a></li>
      <li><a href="http://www.texastribune.org/privacy/">Privacy Policy</a></li>
      <li class="donate"><a href="https://checkout.texastribune.org/donateform">Donate</a></li>
    </ul>
  </nav>
</footer>
