<footer id="footer" class="footer">
  <nav class="left-nav">
    <ul>
      <li class="copyright">&copy; 2016 <a href="http://www.texastribune.org/">The Texas Tribune</a></li>
    </ul>
  </nav>
  <nav class="right-nav">
    <ul>
      <li><a href="http://www.texastribune.org/about/" ga-on="click" ga-event-category="Donate" ga-event-action="footer" ga-event-label="footer-about">About Us</a></li>
      <li><a href="http://www.texastribune.org/contact/" ga-on="click" ga-event-category="Donate" ga-event-action="footer" ga-event-label="footer-contact">Contact Us</a></li>
      <li><a href="http://www.texastribune.org/support-us/donors-and-members/" ga-on="click" ga-event-category="Donate" ga-event-action="footer" ga-event-label="footer-funds">Who Funds Us?</a></li>
      <li><a href="http://www.texastribune.org/terms-of-service/" ga-on="click" ga-event-category="Donate" ga-event-action="footer" ga-event-label="footer-terms">Terms of Service</a></li>
      <li><a href="http://www.texastribune.org/ethics/" ga-on="click" ga-event-category="Donate" ga-event-action="footer" ga-event-label="footer-ethics">Code of Ethics</a></li>
      <li><a href="http://www.texastribune.org/privacy/" ga-on="click" ga-event-category="Donate" ga-event-action="footer" ga-event-label="footer-privacy">Privacy Policy</a></li>
      <li class="donate"><a href="https://checkout.texastribune.org/donateform" ga-on="click" ga-event-category="Donate" ga-event-action="footer" ga-event-label="footer-donate">Donate</a></li>
    </ul>
  </nav>
</footer>
