<div class="extra-info give-more">
    <h3>Want to give more?</h3>
    <p>For additional information on contributions, please contact <a href="mailto:tquinn@texastribune.org">Terry Quinn (Major Gifts)</a> or <a href="mailto:ahinkle@texastribune.org">April Hinkle (Corporate Sponsorships)</a>.</p>
</div>
<hr class="hide-mobile">
<div class="extra-info">
  <h3>Prefer to mail a check?</h3>
  <p>Click <a href="../images/TT-member-form-2015.pdf">here</a> for our membership form and mailing information. </p>
</div>
<hr class="show-mobile">
