<h3>Want to give more?</h3>
<p>For contributions over $5K, please contact <a href="mailto:tquinn@texastribune.org">Terry Quinn (Major Gifts)</a> or <a href="mailto:ahinkle@texastribune.org">April Hinkle (Corporate Sponsorships)</a>.</p>
