<div class="give-more">
    <h3>Want to give more?</h3>
    <p>For additional information on contributions, please contact <a href="mailto:tquinn@texastribune.org">Terry Quinn (Major Gifts)</a> or <a href="mailto:ahinkle@texastribune.org">April Hinkle (Corporate Sponsorships)</a>.</p>
</div>
