<div class="extra-info">
  <h3>Prefer to mail a check?</h3>
  <p>Click <a href="https://static.texastribune.org/media/marketing/TT-membership-form-2016.pdf">here</a> for our membership form and mailing information. </p>
</div>
