<div class="extra-info">
  <h3>Prefer to mail a check?</h3>
  <p>Click <a href="https://static.texastribune.org/media/marketing/TT-membership-contribution-form.pdf" ga-on="click" ga-event-category="Donate" ga-event-action="checkout-intent" ga-event-label="mail-check">here</a> for our membership form and mailing information. </p>
</div>
