<nav class="nav mobile-nav">
  <ul>
    <li><%= link_to 'Become a Member', '/index.html' %></li>
    <li><%= link_to 'Explore Benefits', '/levels.html' %></li>
    <li><%= link_to 'Circle Membership', '/circle.html' %></li>
    <li><a href="http://www.texastribune.org/support-us/donors-and-members/">Donor and Member Wall</a></li>
    <li><a href="http://www.texastribune.org/support-us/corporate-sponsors/">Corporate Sponsors</a></li>
    <li><%= link_to 'Frequently Asked Questions', '/faq.html' %></li>
  </ul>
</nav>
