<nav>
  <ul>
    <li><%= link_to 'Membership Levels', '/levels.html' %></li>
    <li><%= link_to 'Circle Membership', '/circle.html' %></li>
    <li><a href="#">FAQs</a></li>
    <li><a href="https://www.texastribune.org/support-us/donors-and-members/">Donor and Member Wall</a></li>
    <li><a href="https://www.texastribune.org/support-us/corporate-sponsors/">Corporate Sponsors</a></li>
  </ul>
</nav>
