<h3>Ready to share?</h3>
    <a href="#">
      <div class="button social facebook">
        <i class="fa fa-facebook"></i> Share on Facebook
      </div>
    </a>
    <a href="#">
    <div class="button social twitter">
      <i class="fa fa-twitter"></i> Tweet to your followers
    </div>
    </a>
    <a href="#">
      <div class="button social email">
        <i class="fa fa-envelope"></i> Email to your friends
      </div>
    </a>
