<div class="express-checkout">
  <div class="contribute">
    <form id="top-contribute" action="https://givalike.org/public/quickgive.aspx?cid=227" method="post">
      <span class="dollar">$</span><input name="amount" value="9" min="3" max="5000" type="number" id="spinner">
      <div id="contribute-buttons-top">
          <input type="radio" value="year" id="yearly" name="frequency">
          <label for="yearly"><i class="fa fa-check"></i>Annually</label>
          <input checked="checked" type="radio" value="month" id="monthly" name="frequency">
          <label for="monthly"><i class="fa fa-check"></i>Monthly</label>
      </div>
      <div class="level-display">
        <h5>Your Level:</h5>
        <h3 id="level-display">Activist</h3>
        <a href="/levels.html"><p class="italic"><strong><em>Explore benefits &amp; membership levels <i class="fa fa-angle-right"></i></em></strong></p></a>
      </div>
      <button type="submit" class="button button-flat">Contribute Now <i class="fa fa-angle-right"></i></button>
    </form>
    <div class="button button-flat renew-button">
      <a href="https://givalike.org/public/quickgive.aspx?cid=227"><p><strong>Or renew your membership <i class="fa fa-angle-right"></i></strong></p></a>
    </div>
  </div>
  <div class="renew">
    <h4>Already a member?</h4>
    <a href="https://givalike.org/public/quickgive.aspx?cid=227"><p><strong>Renew your membership here <i class="fa fa-angle-right"></i></strong></p></a>
  </div>
</div><!-- express-checkout -->