<div class="top-checkout express-checkout">
  <div class="contribute">
    <form id="top-contribute" action="#" method="post">
      <span class="dollar">$</span><input name="amount" value="9" min="3" max="5000" type="number" id="spinner">
      <div id="contribute-buttons-top">
          <input type="radio" value="year" id="yearly" name="frequency">
          <label for="yearly"><i class="fa fa-check"></i>Annually</label>
          <input checked="checked" type="radio" value="month" id="monthly" name="frequency">
          <label for="monthly"><i class="fa fa-check"></i>Monthly</label>
      </div>
      <div class="level-display">
        <h5>Your Level:</h5>
        <h3 id="level-display">Activist</h3>
        <a href="/levels.html"><p class="italic"><strong><em>Explore benefits &amp; membership levels <i class="fa fa-chevron-right"></i></em></strong></p></a>
      </div>
      <button type="submit" class="button button-flat">Join or Renew <i class="fa fa-chevron-right"></i></button>
    </form>
  </div>
  <div class="renew-donate">
    <a href="/donateform?amount=10"><button class="button button-flat">One-Time Donation <i class="fa fa-chevron-right"></i></button></a>
  </div>
</div><!-- express-checkout -->
