<div class="video-label">Our mission in action</div>
<div class="outer-info video-wrapper" id="video-top">
  <a class="video inner-info" href="https://www.youtube.com/watch?v=m4RbuLrJV48">Watch Now</a>
</div>
<div class="watch-more">
  <a href="https://www.texastribune.org/multimedia/video/">Watch more videos <i class="fa fa-chevron-right"></i></a>
  <hr>
</div>
<div class="outer-video-wrapper">
  <div class="video-label">60+ free, statewide events a year</div>
  <div class="outer-info video-wrapper secondary-video" id="video-two">
    <a class="video inner-info" href="https://www.youtube.com/watch?v=sUVdFd6Ug5I">Watch Now</a>
  </div>
  <div class="video-label">Hard-hitting investigative projects</div>
  <div class="outer-info video-wrapper secondary-video" id="video-three">
    <a class="video inner-info" href="https://www.youtube.com/watch?v=Td4NJgWJmMo">Watch Now</a>
  </div>
  <div class="video-label">Interactive data projects</div>
  <div class="outer-info video-wrapper secondary-video" id="video-four">
    <a class="video inner-info" href="https://www.youtube.com/watch?v=jMMWVNzxiPs">Watch Now</a>
  </div>
</div>
