<div class="see-support">See your support in action</div>
<div class="outer-info video-wrapper" id="video-top">
  <button class="video inner-info" href="https://www.youtube.com/watch?v=m4RbuLrJV48">Watch Now</button>
</div>
<div class="watch-more">
  <a href="http://www.texastribune.org/multimedia/video/">Watch more videos <i class="fa fa-chevron-right"></i></a>
</div>
<div class="outer-info video-wrapper secondary-video" id="video-two">
  <button class="video inner-info" href="http://www.youtube.com/watch?v=J6vyKzUlu4g">Watch Now</button>
</div>
<div class="outer-info video-wrapper secondary-video" id="video-three">
  <button class="video inner-info" href="https://www.youtube.com/watch?v=Td4NJgWJmMo">Watch Now</button>
</div>
<div class="outer-info video-wrapper secondary-video" id="video-four">
  <button class="video inner-info" href="https://www.youtube.com/watch?v=hquwElFso7M">Watch Now</button>
</div>