<div class="see-support">See your support in action</div>
<div class="outer-info video-wrapper" id="video-top">
  <button class="video inner-info" href="http://www.youtube.com/watch?v=J6vyKzUlu4g">Watch Now</button>
</div>
<div class="outer-info video-wrapper secondary-video" id="video-two">
  <button class="video inner-info" href="http://www.youtube.com/watch?v=J6vyKzUlu4g">Watch Now</button>
</div>