<div class="video-label">Our mission in action</div>
<div class="outer-info video-wrapper" id="video-top">
  <a class="video inner-info" href="https://www.youtube.com/watch?v=Sqv-lctyLBc">Watch Now</a>
</div>
<div class="watch-more">
  <a href="https://www.texastribune.org/multimedia/video/" ga-on="click" ga-event-category="Donate" ga-event-action="Watch Video" ga-event-label="watch-top-video">Watch more videos <i class="fa fa-chevron-right"></i></a>
  <hr>
</div>
<div class="outer-video-wrapper">
  <div class="video-label">60+ free, statewide events a year</div>
  <div class="outer-info video-wrapper secondary-video" id="video-two">
    <a class="video inner-info" href="https://www.youtube.com/watch?v=h1W6UzIZZ7c" ga-on="click" ga-event-category="Donate" ga-event-action="Watch Video" ga-event-label="watch-video-2">Watch Now</a>
  </div>
  <div class="video-label">Hard-hitting investigative projects</div>
  <div class="outer-info video-wrapper secondary-video" id="video-three">
    <a class="video inner-info" href="https://www.youtube.com/watch?v=GM-jnuGjFjA" ga-on="click" ga-event-category="Donate" ga-event-action="Watch Video" ga-event-label="watch-video-3">Watch Now</a>
  </div>
  <div class="video-label">Interactive data projects</div>
  <div class="outer-info video-wrapper secondary-video" id="video-four">
    <a class="video inner-info" href="https://www.youtube.com/watch?v=jMMWVNzxiPs" ga-on="click" ga-event-category="Donate" ga-event-action="Watch Video" ga-event-label="watch-video-4">Watch Now</a>
  </div>
</div>
