---
title: Support journalism with impact in Texas
---

<% content_for :page_og do %>
  <meta property="og:url" content="http://support.texastribune.org/campaign.html">
  <meta property="og:image" content="https://static.texastribune.org/media/membership/EOY17/eoy-fb-og.jpg">
  <meta property="og:title" content="Support nonprofit journalism in Texas">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Members and donors power our nonprofit newsroom. Please give what you can to support our essential work.">
<% end %>

<% content_for :header do %>
  <%= partial(:header, :locals => { :image_url => 'logo.png', :href => 'https://www.texastribune.org/' }) %>
<% end %>

<% content_for :main do %>
  <div class="splash">
    <div class="splash-wrapper">
      <div class="splash-greeting">
        <h1 class="splash-header">Support journalism <br> with impact in Texas</h1>
        <p class="splash-info">Members and donors power our nonprofit newsroom. Please give what you can to support our essential work.</p>
      </div>
      <div class="splash-donate">
        <%= partial "checkout" %>
        <p class="splash-once"><span class="weight--bold">Make a</span> <a class="splash-link--yellow" href="https://checkout.texastribune.org/donateform">one-time donation</a>.</p>
      </div>
    </div>

    <%= partial 'campaign_desktop_nav' %>
  </div>

  <div class="main">
    <div class="main-left">
      <div class="section">
        <h3>This is how Texas Tribune journalism made a difference in 2017</h3>
      </div>

      <div class="section">
        <h4><a target="_blank" href="https://www.texastribune.org/2017/11/13/texas-capitol-victims-sexual-harassment-must-fend-themselves/">Sexual harassment</a></h4>
        <p>Our investigation into sexual malpractice at the Texas Capitol led lawmakers to dismantle their existing sexual harassment rules and put sweeping new policies in place.</p>
      </div>

      <div class="section">
        <h4><a target="_blank" href="https://www.texastribune.org/organizations/texas-alcoholic-beverage-commission/">Texas Alcoholic Beverage Commission investigation</a></h4>
        <p>Top TABC officials were ousted amid our investigation into junkets and bad behavior at the taxpayer-funded agency.</p>
      </div>

      <aside class="small-img clearfix">
        <figure class="small-img__fig">
          <img class="small-img__file" src="./img/harvey-reporters.jpg">
          <figcaption class="small-img__caption">As rescue boats and trucks navigated a West Houston neighborhood flooded by Hurricane Harvey, Neena Satija (left) and Kiah Collier (right) documented the recovery efforts.</figcaption>
        </figure>
      </aside>

      <div class="section">
        <h4><a target="_blank" href="https://www.texastribune.org/series/in-harveys-wake/">Hurricane Harvey</a></h4>
        <p>We predicted the flooding in 2016, meaning when the storm actually hit, our readers had a reference for why it had happened — and a slate of experts to follow during and after.</p>
      </div>

      <div class="section">
        <h4><a target="_blank" href="https://www.texastribune.org/2017/10/27/texas-missing-payments-rental-furniture-can-land-you-jail/">Rent-to-own investigation</a></h4>
        <p>Lawmakers on both sides of the aisle immediately pledged reforms after we revealed people being jailed and criminally prosecuted for missing a payment on a couch.</p>
      </div>

      <div class="section">
        <h4><a target="_blank" href="https://apps.texastribune.org/sold-out/">Sold Out</a></h4>
        <p>Following our series on child sex trafficking in Texas, which was jointly viewed by hundreds of thousands of readers in Cosmopolitan Magazine, the state hired its first-ever director of human trafficking prevention.</p>
      </div>
    </div>

    <div class="main-right">
      <div class="section">
        <h3>Have a question?</h3>

        <div class="contact-info">
          <h5>Membership & The Blast</h5>
          <h4>Rebecca Quarls</h4>
          <p class="italic">Membership and Marketing Manager</p>
          <p>512-716-8686</p>
          <p><a href="mailto:rquarls@texastribune.org">rquarls@texastribune.org</a></p>
        </div>

        <div class="contact-info">
          <h5>Circle Membership</h5>
          <h4>Suzanne Geiger</h4>
          <p class="italic">Development Manager</p>
          <p>512-716-8646</p>
          <p><a href="mailto:sgeiger@texastribune.org">sgeiger@texastribune.org</a></p>
        </div>
      </div>

      <div class="section">
        <h3>Want to give more?</h3>

        <div class="give-more">
          <h5>Major gifts or grants</h5>
          <h4>Terry Quinn</h4>
          <p class="italic">Chief Development Officer</p>
          <p>512-716-8613</p>
          <p><a href="mailto:tquinn@texastribune.org">tquinn@texastribune.org</a></p>
        </div>

        <div class="give-more">
          <h5>Corporate sponsorships</h5>
          <h4>April Hinkle</h4>
          <p class="italic">Chief Revenue Officer</p>
          <p>512-716-8634</p>
          <p><a href="mailto:ahinkle@texastribune.org">ahinkle@texastribune.org</a></p>
        </div>
      </div>
    </div>
  </div>

  <%= partial 'campaign_mobile_nav' %>
<% end %>

<% content_for :page_js do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.min.js"></script>
  <script src="../javascripts/bundle.js"></script>
  <script>
    document.forms[0].reset();

    if ('onpageshow' in window) {
      window.addEventListener('pageshow', function() {
        var form = new bundle.FormHandler();
        form.init();
      });
    } else {
      var form = new bundle.FormHandler();
      form.init();
    }
  </script>
<% end %>
