---
title: Fall Member Drive 2017
---

<% content_for :header do %>
  <%= partial(:header, :locals => { :image_url => 'FMD17.png', :href => '/campaign2.html' }) %>
<% end %>

<% content_for :page_og do %>
  <meta property="og:url" content="http://support.texastribune.org/campaign.html">
  <meta property="og:image" content="https://static.texastribune.org/media/membership/FMD17/fb.jpg">
  <meta property="og:title" content="Donate during Fall Member Drive | The Texas Tribune">
  <meta property="og:type" content="website">
  <meta property="og:description" content="As a 501(c)(3) nonprofit organization, member drives are one of the key ways we raise funds for the Tribune’s accountability journalism and make it free and accessible for all Texans.">
<% end %>

<% content_for :page_canonical do %>
  <meta name="robots" content="noindex">
  <link rel="canonical" href="https://support.texastribune.org/campaign.html">
<% end %>

<% content_for :main do %>
  <div class="splash">
    <div class="splash-wrapper">
      <div class="splash-greeting">
        <h1 class="splash-header">Invest in accountability journalism for Texas</h1>
        <p class="splash-info">Between public records requests, online research tools, legal fees and more, credible accountability and investigative reporting is pricey to produce. This Fall Member Drive, help The Texas Tribune as it works to make Texas politics and policy more transparent. Donate today.</p>
        <p class="splash-info">Learn more about <a class="splash-link--yellow" href="https://www.texastribune.org/about/?_ga=2.158425146.1285863761.1507322585-1391546928.1507322585">The Texas Tribune’s mission</a>.</p>
      </div>
      <div class="splash-donate">
        <%= partial "checkout" %>
        <p class="splash-once"><span class="weight--bold">Make a</span> <a class="splash-link--yellow" href="https://checkout.texastribune.org/donateform">one-time donation</a>.</p>
      </div>
    </div>

    <%= partial(:campaign_desktop_nav, :locals => { :campaign_page_url => '/campaign2.html' }) %>
  </div>

  <div class="main">
    <div class="main-left">
      <div class="section">
        <h3>Tribune membership starts at $3/month or $35/year</h3>
        <p>As a 501(c)(3) nonprofit organization, Fall Member Drive is one of the key ways The Texas Tribune’s accountability journalism is made free and accessible for all Texans.</p>
        <p>Become a sustaining member with a recurring donation that allows the Tribune to plan budgets a few years at a time. Members enjoy recognition on our <a href="https://www.texastribune.org/support-us/donors-and-members/?_ga=2.14933941.285171732.1507323227-1404484368.1507323227">donor wall</a>, discounted tickets to <a href="https://www.texastribune.org/festival/?_ga=2.215004375.1311317559.1507325008-1829771714.1507325008">The Texas Tribune Festival</a> and exclusive updates on the Tribune’s latest initiatives.</p>
        <p><a href="https://checkout.texastribune.org/memberform?&amount=10&installmentPeriod=yearly&_ga=2.165052026.453204924.1507322826-35454566.1507322826">Interested in becoming a student member?</a></p>
      </div>

      <div class="section">
        <h3>Circle Membership</h3>
        <p>Circle Membership is a three-year commitment that backs the vital work of our journalists. <a href="/circle.html">Circle members</a> believe in supporting our public service mission so that all Texans can access our nonpartisan news, data and events at no cost. Circle Members enjoy invitations to exclusive events and special updates from CEO Evan Smith.</p>
      </div>
    </div>

    <div class="main-right">
      <div class="section">
        <h3>Have a question?</h3>

        <div class="contact-info">
          <h5>Membership & The Blast</h5>
          <h4>Rebecca Quarls</h4>
          <p class="italic">Membership and Marketing Manager</p>
          <p>512-716-8686</p>
          <p><a href="mailto:rquarls@texastribune.org">rquarls@texastribune.org</a></p>
        </div>

        <div class="contact-info">
          <h5>Circle Membership</h5>
          <h4>Suzanne Geiger</h4>
          <p class="italic">Development Manager</p>
          <p>512-716-8646</p>
          <p><a href="mailto:sgeiger@texastribune.org">sgeiger@texastribune.org</a></p>
        </div>
      </div>

      <div class="section">
        <h3>Want to give more?</h3>

        <div class="give-more">
          <h5>Major gifts or grants</h5>
          <h4>Terry Quinn</h4>
          <p class="italic">Chief Development Officer</p>
          <p>512-716-8613</p>
          <p><a href="mailto:tquinn@texastribune.org">tquinn@texastribune.org</a></p>
        </div>

        <div class="give-more">
          <h5>Corporate sponsorships</h5>
          <h4>April Hinkle</h4>
          <p class="italic">Chief Revenue Officer</p>
          <p>512-716-8634</p>
          <p><a href="mailto:ahinkle@texastribune.org">ahinkle@texastribune.org</a></p>
        </div>
      </div>
    </div>
  </div>

  <%= partial(:campaign_mobile_nav, :locals => { :campaign_page_url => '/campaign2.html' }) %>
<% end %>

<% content_for :page_js do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.min.js"></script>
  <script src="../javascripts/newBundle.js"></script>
  <script>
    document.forms[0].reset();

    if ('onpageshow' in window) {
      window.addEventListener('pageshow', function() {
        var form = new bundle.FormHandler();
        form.init();
      });
    } else {
      var form = new bundle.FormHandler();
      form.init();
    }
  </script>
<% end %>
