---
title: Corporate Sponsors
---

<div class="splash">
  <div class="splash-wrapper">
    <div class="splash-greeting">
      <h1 class="splash-header">Corporate Sponsors</h1>
      <p class="splash-info"><%= data.Info[0]['about_trib'] %></p>
      <h4 class="splash-support"><%= data.Info[0]['support_cta'] %></h4>
    </div><!-- splash-greeting -->
  </div><!-- splash-wrapper -->
  <%= partial "desktop_nav" %>
</div><!-- splash-levels -->

<input class="awesomplete" data-list="mylist" />
<ul id="mylist">
</ul>
<div class="search-results">
	<table class="search-results-table">
	    <thead>
	      <tr>
	          <th><div class="label">Sponsor</div><span class="fa-stack"><i class="sort-up fa fa-caret-up fa-stack-1x"></i><i class="sort-down fa fa-caret-down fa-stack-1x"></i></span></th>
	          <th><div class="label">Digital revenue</div><span class="fa-stack"><i class="sort-up fa fa-caret-up fa-stack-1x"></i><i class="sort-down fa fa-caret-down fa-stack-1x"></i></span></th>
	          <th><div class="label">Digital in-kind</div><span class="fa-stack"><i class="sort-up fa fa-caret-up fa-stack-1x"></i><i class="sort-down fa fa-caret-down fa-stack-1x"></i></span></th>
	          <th><div class="label">Events revenue</div><span class="fa-stack"><i class="sort-up fa fa-caret-up fa-stack-1x"></i><i class="sort-down fa fa-caret-down fa-stack-1x"></i></span></th>
	          <th><div class="label">Events in-kind</div><span class="fa-stack"><i class="sort-up fa fa-caret-up fa-stack-1x"></i><i class="sort-down fa fa-caret-down fa-stack-1x"></i></span></th>
	          <th><div class="label">Total</div><span class="fa-stack"><i class="sort-up fa fa-caret-up fa-stack-1x"></i><i class="sort-down fa fa-caret-down fa-stack-1x"></i></span></th>
	        </tr>
	      </thead>
	    <tbody>
	    	<td class="sponsor-result"></td>
	    	<tx class="digital-revenue-result"></tx>
	    </tbody>
	  </table>
</div>
<div class="year-button"></div>
<div class="year"></div>
<div class="donor-table"></div>