---
title: Corporate Sponsors
---

<div class="splash">
  <div class="splash-wrapper">
    <div class="splash-greeting">
      <h1 class="splash-header">Corporate Sponsors</h1>
      <p class="splash-info"><%= data.Info[0]['about_trib'] %></p>
      <h4 class="splash-support"><%= data.Info[0]['support_cta'] %></h4>
    </div><!-- splash-greeting -->
  </div><!-- splash-wrapper -->
  <%= partial "desktop_nav" %>
</div><!-- splash-levels -->

<div class="year"></div>
<div class="donor-table"></div>