---
title: Donor and Member Wall
---

<div class="splash">
  <div class="splash-wrapper">
    <div class="splash-greeting">
      <h1 class="splash-header">Donor and Member Wall</h1>
      <p class="splash-info"><%= data.Info[0]['about_trib'] %></p>
      <h4 class="splash-support"><%= data.Info[0]['support_cta'] %></h4>
    </div><!-- splash-greeting -->
  </div><!-- splash-wrapper -->
  <%= partial "desktop_nav" %>
</div><!-- splash-levels -->

<div class="donor-wall-wrapper">
	<span class="search-label">Search: </span><input id="ajax-example" />
	<select class="year-select">
		<option class="select-year all-time">All time</option>
	</select>
	<div class="donor-wall-table"></div>
<!-- 	<table class="donor-wall-table">
		<thead>
			<tr>
				<th><div class="label sponsor">Sponsor</div><span class="fa-stack"><i class="sort-up fa fa-caret-up fa-stack-1x"></i><i class="sort-down fa fa-caret-down fa-stack-1x"></i></span></th>
				<th><div class="label">Amount</div><span class="fa-stack"><i class="sort-up fa fa-caret-up fa-stack-1x"></i><i class="sort-down fa fa-caret-down fa-stack-1x"></i></span></th>
			</tr>
		</thead>
		<tbody class="donor-wall-tbody">
		</tbody>
	</table> -->
</div>