---
title: Frequently Asked Questions
---

<div class="splash">
  <div class="splash-wrapper">
    <div class="splash-greeting">
      <h1 class="splash-header">Frequently Asked Questions</h1>
      <p class="splash-info">The Texas Tribune is the only member-supported, digitally focused, nonpartisan news organization that informs & engages with Texans about public policy, politics, government and statewide issues.</p>
      <h4 class="splash-support">Our nonprofit newsroom depends on your support!</h4>
    </div><!-- splash-greeting -->
  </div><!-- splash-wrapper -->
  <%= partial "desktop_nav" %>
</div><!-- splash-levels -->

<div class="main">
  <h3>Frequently Asked Questions</h3>

  <h4>What is a sustaining member?</h4>
  <p>Sustaining membership provides a convenient and affordable way to support the Tribune, and ensures your membership will always be current. Sustaining members make an ongoing, monthly or yearly contribution by credit card. This support provides a reliable stream of income to produce public service journalism.</p>

  <h4>Why should I become a member of The Texas Tribune?</h4>
  <p>The Texas Tribune is a nonprofit, nonpartisan media organization that informs — and engages with — citizens on public policy, politics, government and other statewide issues. As a member, your contributions go directly to supporting this mission by helping make our content free and accessible to all Texans.</p>

  <h4>How long does a membership last?</h4>
  <p>Texas Tribune sustaining members give on a recurring basis, either monthly or annually. Membership lasts the duration of the recurring membership and can be canceled anytime. If you are interested in making a one-time membership donation, click <a href="https://checkout.texastribune.org/donateform">here</a>.</p>

  <h4>How can I renew my membership?</h4>
  <p>Texas Tribune members may give on a recurring basis, in which case there is no need to renew at any time. You can update billing information, your membership level or cancel at any time by contacting <a href="mailto:membership@texastribune.org">membership@texastribune.org</a>. If you are not a sustaining member, you may renew on an annual basis, either online or by sending a membership donation in the mail.</p>

  <h4>How can I check the status of my membership?</h4>
  <p>Email <a href="mailto:membership@texastribune.org">membership@texastribune.org</a> for more information on your status.</p>

  <h4>Can I make a one-time contribution?</h4>
  <p>Absolutely! You can make a contribution <a href="https://checkout.texastribune.org/donateform">here</a>.</p>

  <h4>Are contributions to The Texas Tribune tax-deductible?</h4>
  <p>Yes. You will receive a tax receipt at the time your gift is made.</p>

  <h4>What if I want my employer to match my contribution?</h4>
  <p>You can find out if your employer offers a matching program by clicking <a href="https://doublethedonation.com/texastribune">here</a>. If your company offers a matching program, please follow the listed directions in order to get your contribution to the Tribune, as matched by your employer. Email <a href="mailto:membership@texastribune.org">membership@texastribune.org</a> with any questions.</p>

  <h4>What’s the difference between a Registered User and a Member?</h4>
  <p>Registered users can comment on Tribune stories. This is a free service that you can sign up for <a href="https://www.texastribune.org/accounts/register/">here</a>.&nbsp;Members financially support the Tribune on a recurring basis and receive&nbsp;membership benefits.</p>

  <h4>How do I sign up for Texas Tribune newsletters?</h4>
  <p>Go to our <a href="https://www.texastribune.org/subscribe/">newsletter subscription page</a> where you can sign up for any of our free newsletters.</p>

  <h4>I’m getting too many alerts. How do I manage them?</h4>
  <p>Please contact <a href="mailto:membership@texastribune.org">membership@texastribune.org</a> to update your email subscriptions.</p>

  <h4>Forgot your Texas Tribune username or password?</h4>
  <p>You can reset it or retrieve it <a href="https://www.texastribune.org/accounts/login/">here</a>.&nbsp;Forgot the email address you used to set up your account? Contact us at <a href="mailto:membership@texastribune.org">membership@texastribune.org</a>&nbsp;and we’ll send it to you.</p>

  <h4>What is the Tribune's mailing address and phone number?</h4>
  <p>823 Congress Ave., Suite 1400, Austin, TX 78701, (512) 716-8600</p>

  <h4>What if I still have a question about membership?</h4>
  <p>Please email us at&nbsp;<a href="mailto:membership@texastribune.org">membership@texastribune.org</a>&nbsp;or call (512) 716-8600.</p>

  <h4>How do I subscribe to The Blast?</h4>
  <p>Visit <a href="https://www.texastribune.org/theblast">here</a> for pricing and subscription information.</p>

  <h4>Can I subscribe to The Blast by check or be invoiced?</h4>
  <p>Yes, please email <a href="mailto:blast@texastribune.org">blast@texastribune.org</a> and request an invoice.</p>

  <h4>I have questions about The Blast. Whom do I contact?</h4>
  <p>Please email us at&nbsp;<a href="mailto:blast@texastribune.org">blast@texastribune.org</a>&nbsp;or call (512) 716-8600.</p>
</div>
