---
title: Frequently Asked Questions
---

<%= partial "desktop_nav" %>
<div class="main" style="padding: 2em;">
  <h3>Frequently Asked Questions</h3>
  <% data.faq.each do |q| %>
    <h4 style="margin-top: 2em;"><%= q.question %></h4>
    <p style="margin: 0.5em 0;"><%= q.answer %></p>
  <% end %>
</div>
