---
title: Become a Member
---

<div class="splash">
  <div class="splash-wrapper">
    <div class="splash-greeting">
      <h1 class="splash-header">Show your support for independent, fact-based journalism by donating to The Texas Tribune.</h1>
      <p class="splash-info">As a 501(c)3 nonprofit organization, the generosity of members and donors makes our work possible. <a class="splash-link--yellow" href="https://www.texastribune.org/about/">Learn more</a> about the Tribune's mission.</p>
    </div>

    <div class="donate">
      <div class="donate__inner unloaded">
        <div class="carousel" id="carousel-outer">
          <form class="carousel__form clearfix" action="" method="get" aria-labelledby="frequency-legend" id="carousel-inner" role="form">
            <div class="carousel__slide--frequency">
              <fieldset class="carousel__fieldset">
                <legend class="carousel__legend" id="frequency-legend">Make a donation:</legend>
                <div class="carousel__radios">
                  <label class="carousel__label--selected" for="frequency-monthly">
                    <span class="uppercase">Monthly</span>
                    <i class="carousel__checkmark fa fa-check-square" aria-hidden="true"></i>
                    <input class="carousel__radio visually-hidden" type="radio" value="monthly" name="frequency" data-frequency="monthly" id="frequency-monthly" checked>
                  </label>

                  <label class="carousel__label--normal" for="frequency-yearly">
                    <span class="uppercase">Yearly</span>
                    <i class="carousel__checkmark fa fa-check-square" aria-hidden="true"></i>
                    <input class="carousel__radio visually-hidden" type="radio" value="yearly" name="frequency" data-frequency="yearly" id="frequency-yearly">
                  </label>

                  <label class="carousel__label--normal" for="frequency-once">
                    <span class="uppercase">One-Time</span>
                    <i class="carousel__checkmark fa fa-check-square" aria-hidden="true"></i>
                    <input class="carousel__radio visually-hidden" type="radio" value="once" name="frequency" data-frequency="once" id="frequency-once">
                  </label>
                </div>
              </fieldset>
            </div>

            <div class="carousel__slide--range" aria-hidden="true">
              <fieldset class="carousel__fieldset">
                <legend class="carousel__legend" id="range-legend">Choose a monthly range:</legend>
                <div class="carousel__radios">
                  <label class="carousel__label--selected" for="range-1">
                    $5 - $34
                    <i class="carousel__checkmark fa fa-check-square" aria-hidden="true"></i>
                    <input class="carousel__radio visually-hidden" type="radio" name="range" data-range="0" id="range-1" checked>
                  </label>

                  <label class="carousel__label--normal" for="range-2">
                    $35 - $64
                    <i class="carousel__checkmark fa fa-check-square" aria-hidden="true"></i>
                    <input class="carousel__radio visually-hidden" type="radio" name="range" data-range="1" id="range-2">
                  </label>

                  <label class="carousel__label--normal" for="range-3">
                    $65 - $83
                    <i class="carousel__checkmark fa fa-check-square" aria-hidden="true"></i>
                    <input class="carousel__radio visually-hidden" type="radio" name="range" data-range="2" id="range-3">
                  </label>

                  <label class="carousel__label--normal" for="range-4">
                    $84 - $417
                    <i class="carousel__checkmark fa fa-check-square" aria-hidden="true"></i>
                    <input class="carousel__radio visually-hidden" type="radio" name="range" data-range="3" id="range-4">
                  </label>
                </div>

                <p class="carousel__circle"><span class="bold">Trying to donate more?</span> <a class="splash-link--teal" href="https://support.texastribune.org/circle.html">Learn how</a>.</p>
              </fieldset>
            </div>

            <div class="carousel__slide--amount" aria-hidden="true">
              <fieldset class="carousel__fieldset">
                <legend class="carousel__legend" id="amount-legend">How much would you like to give?</legend>
                <div class="carousel__radios">
                  <label class="carousel__label--normal" for="amount-1">
                    $5 <span class="lowercase thin">per month</span>
                    <i class="carousel__checkmark fa fa-check-square" aria-hidden="true"></i>
                    <input class="carousel__radio visually-hidden" type="radio" value="5" name="amount" id="amount-1">
                  </label>

                  <label class="carousel__label--selected" for="amount-2">
                    $15 <span class="lowercase thin">per month</span>
                    <i class="carousel__checkmark fa fa-check-square" aria-hidden="true"></i>
                    <input class="carousel__radio visually-hidden" type="radio" value="15" name="amount" id="amount-2" checked>
                  </label>

                  <label class="carousel__label--normal" for="amount-3">
                    $25 <span class="lowercase thin">per month</span>
                    <i class="carousel__checkmark fa fa-check-square" aria-hidden="true"></i>
                    <input class="carousel__radio visually-hidden" type="radio" value="25" name="amount" id="amount-3">
                  </label>

                  <label class="carousel__label--normal" for="amount-4">
                    $34 <span class="lowercase thin">per month</span>
                    <i class="carousel__checkmark fa fa-check-square" aria-hidden="true"></i>
                    <input class="carousel__radio visually-hidden" type="radio" value="34" name="amount" id="amount-4">
                  </label>
                </div>

                <div class="carousel__manual">
                  <div class="carousel__manual-els clearfix">
                    <label class="carousel__manual-label" for="amount-manual" id="manual-label">Or enter an amount:</label>
                    <input class="carousel__radio visually-hidden" type="radio" name="amount" id="amount-manual">
                    <input class="carousel__manual-input--normal" type="text" aria-labelledby="manual-label" id="manual-input">
                  </div>

                  <p class="carousel__manual-error hidden" id="error-message">Please enter a number.</p>
                </div>
              </fieldset>

              <input class="carousel__submit" aria-label="Go To Checkout" type="submit" value="Go To Checkout" id="submit">
            </div>
          </form>

          <div class="carousel__controls clearfix">
            <button class="carousel__button--prev disabled" aria-label="Go back to previous screen" id="prev" disabled>
              <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
              Last
            </button>

            <ul class="carousel__indicators clearfix" aria-hidden="true">
              <li class="carousel__dot--selected"></li>
              <li class="carousel__dot--normal"></li>
              <li class="carousel__dot--normal"></li>
            </ul>

            <button class="carousel__button--next" aria-label="Move forward to next screen" id="next">
              Next
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>

      <p class="donate__mail"><span class="bold">Prefer to mail a check?</span> Use our <a class="splash-link--yellow" href="https://static.texastribune.org/media/marketing/TT-membership-contribution-form.pdf">membership form</a>.</p>
    </div>
  </div>

  <%= partial "desktop_nav" %>
</div>

<div class="main">
  <div class="main-left">
    <section class="section">
      <h3>All members enjoy the following benefits:</h3>
      <ul class="info-list">
        <li>Recognition on our <a href="https://www.texastribune.org/support-us/donors-and-members/">Donor Wall</a></li>
        <li>Discounted tickets to the annual <a href="https://www.texastribune.org/festival/">Texas Tribune Festival</a></li>
        <li>Exclusive, quarterly member e-newsletter, where you get a behind-the-scenes look at the Tribune’s latest projects and initiatives</li>
      </ul>
    </section>

    <section class="section">
      <h3>Sustaining membership or a one-time?</h3>
      <ul class="info-list">
        <li>We think it's important that you get to support and consume the news on your own time and on your own terms. All donations are greatly appreciated!</li>
        <li>Members enjoy the benefits listed above.</li>
        <li>When you're a sustaining member, it simply means that your donation recurs automatically on a monthly or yearly basis via credit card. This provides the Tribune with the sort of predictable revenue that allows us to plan budgets a few years at a time, and it helps eliminate renewal mailings or lapses in your membership.</li>
        <li>Explore <a href="/levels.html">member levels</a></li>
      </ul>
    </section>

    <section class="section">
      <p class="student">
        <a href="https://checkout.texastribune.org/memberform?&amount=10&installmentPeriod=yearly">
          Interested in becoming a student member?
          <i class="fa fa-chevron-right"></i>
        </a>
      </p>
    </section>
  </div>

  <div class="main-right">
    <section class="section">
      <h3>Have a question?</h3>

      <div class="contact-info">
        <h5>Membership & The Blast</h5>
        <h4>Suzanne Geiger</h4>
        <p class="italic">Development Manager</p>
        <p>512-716-8646</p>
        <p><a href="mailto:sgeiger@texastribune.org">sgeiger@texastribune.org</a></p>
      </div>

      <div class="contact-info">
        <h4>Rebecca Quarls</h4>
        <p class="italic">Digital Marketing Manager</p>
        <p>512-716-8686</p>
        <p><a href="mailto:blast@texastribune.org">sgeiger@texastribune.org</a></p>
      </div>
    </section>

    <section class="section">
      <h3>Want to give more?</h3>

      <div class="give-more">
        <h5>Major gifts or grants</h5>
        <p>Please contact Terry Quinn at <a href="mailto:tquinn@texastribune.org">tquinn@texastribune.org</a> or call 512-716-8613</p>
      </div>

      <div class="give-more">
        <h5>Corporate sponsorships</h5>
        <p>Please contact April Hinkle at <a href="mailto:ahinkle@texastribune.org">ahinkle@texastribune.org</a> or call 512-716-8634</p>
      </div>
    </section>
  </div>
</div>
