---
title: Support Us
---

<div class="splash splash-landing">
  <div class="support-container">
    <div class="splash-greeting">
      <h1 class="splash-header">Support Us</h1>
      <p class="splash-info">The Texas Tribune is the only member-supported, digitally focused, nonpartisan news organization that informs &amp; engages with Texans about public policy, politics, government &amp; statewide issues.</p>
      <h3 class="splash-support align-right">Our Nonprofit Newsroom Depends On Your Support!</h3>
    </div>
    <div class="box-contribute">
      <div class="contribute">
        <button type="submit" class="button">Contribute Now</button>
      </div>
      <div class="mail">
        <h4>Prefer to mail in your donation?</h4>
        <p>Download the donation form</p>
      </div>
    </div><!-- box-contribute -->
  </div><!-- support-container -->
</div><!-- splash-landing -->

<%= partial "nav" %>

<div class="main">
  <div class="main-left">
  </div>
  <div class="main-right">
  </div>
</div>
