---
title: Become a Member
---

<div class="">
  <div class="carousel" id="carousel-outer">
    <form class="carousel__form" action="" method="get" aria-label="Donate to The Texas Tribune" id="carousel-inner">
      <fieldset class="carousel__fieldset--frequency carousel-slide">
        <legend class="carousel__legend" id="frequency-legend">Choose a donation frequency</legend>
        <div class="carousel__radios">
          <label class="carousel__label" for="frequency-once" aria-labelledby="frequency-legend">
            <span class="carousel__label-text">Once</span>
            <input class="carousel__radio" type="radio" name="frequency" data-frequency="0" id="frequency-once">
          </label>

          <label class="carousel__label" for="frequency-monthly" aria-labelledby="frequency-legend">
            <span class="carousel__label-text">Monthly</span>
            <input class="carousel__radio" type="radio" name="frequency" data-frequency="1" id="frequency-monthly">
          </label>

          <label class="carousel__label" for="frequency-annually" aria-labelledby="frequency-legend">
            <span class="carousel__label-text">Annually</span>
            <input class="carousel__radio" type="radio" name="frequency" data-frequency="2" id="frequency-annually">
          </label>
        </div>
      </fieldset>

      <fieldset class="carousel__fieldset--range carousel-slide">
        <legend class="carousel__legend" id="range-legend">Choose a range</legend>
        <div class="carousel__radios">
          <label class="carousel__label" for="range-1" aria-labelledby="range-legend">
            <span class="carousel__label-text">$1-34</span>
            <input class="carousel__radio" type="radio" id="range-1">
          </label>

          <label class="carousel__label" for="range-2" aria-labelledby="range-legend">
            <span class="carousel__label-text">$35-100</span>
            <input class="carousel__radio" type="radio" id="range-2">
          </label>

          <label class="carousel__label" for="range-3" aria-labelledby="range-legend">
            <span class="carousel__label-text">$101-$500</span>
            <input class="carousel__radio" type="radio" id="range-3">
          </label>

          <label class="carousel__label" for="range-4" aria-labelledby="range-legend">
            <span class="carousel__label-text">$501-$999</span>
            <input class="carousel__radio" type="radio" id="range-4">
          </label>
        </div>
      </fieldset>

      <fieldset class="carousel__fieldset--amount carousel-slide">
        <legend class="carousel__legend" id="amount-legend">Amount to give</legend>
        <div class="carousel__radios">
          <label class="carousel__label" for="amount-1" aria-labelledby="amount-legend">
            <span class="carousel__label-text">$35</span>
            <input class="carousel__radio" type="radio" name="amount" id="amount-1">
          </label>

          <label class="carousel__label" for="amount-2" aria-labelledby="amount-legend">
            <span class="carousel__label-text">$65</span>
            <input class="carousel__radio" type="radio" name="amount" id="amount-2">
          </label>

          <label class="carousel__label" for="amount-3" aria-labelledby="amount-legend">
            <span class="carousel__label-text">$85</span>
            <input class="carousel__radio" type="radio" name="amount" id="amount-3">
          </label>

          <label class="carousel__label" for="amount-4" aria-labelledby="amount-legend">
            <span class="carousel__label-text">$100</span>
            <input class="carousel__radio" type="radio" name="amount" id="amount-4">
          </label>
        </div>

        <div class="carousel__manual">
          <label class="carousel__manual-label" for="amount-manual">Or enter an amount</label>
          <input class="carousel__manual-radio" type="radio" name="amount" value="" id="amount-manual">
          <input class="carousel__manual-input" type="text">
        </div>
      </fieldset>

      <ul class="carousel__buttons">
        <li class="carousel__item">
          <button class="carousel__button--prev" aria-label="Go back to previous screen" tabindex="1" id="prev">Last</button>
        </li>

        <li class="carousel__item">
          <button class="carousel__button--next" aria-label="Move forward to next screen" tabindex="2" id="next">Next</button>
        </li>

        <li class="carousel__item">
          <input class="carousel__button--submit hidden" aria-label="Go to checkout page" type="submit" value="Give Now" id="submit">
        </li>
      </ul>
    </form>
  </div>
</div>

<div class="main">

</div>
