---
title: Support Us
---

<div class="splash splash-landing">
  <div class="support-container">
    <div class="splash-greeting">
      <h1 class="splash-header">Support Us</h1>
    </div>
    <div class="box-contribute">
      <div class="contribute">
        <button type="submit" class="button">Contribute Now</button>
      </div>
      <div class="mail">
      </div>
    </div><!-- box-contribute -->
  </div><!-- support-container -->
</div><!-- splash-landing -->

<%= partial "nav" %>
