---
title: Explore Levels
page: levels
---

<% content_for :main do %>
  <div class="splash">
    <div class="splash-wrapper">
      <div class="splash-greeting">
        <h1 class="splash-header">Membership Levels</h1>
        <p class="splash-info">The Texas Tribune is the only member-supported, digitally focused, nonpartisan news organization that informs & engages with Texans about public policy, politics, government and statewide issues.</p>
        <h4 class="splash-support">Our nonprofit newsroom depends on your support!</h4>
      </div><!-- splash-greeting -->
    </div><!-- splash-wrapper -->
    <%= partial "desktop_nav" %>
  </div><!-- splash-levels -->

  <div class="main">
    <div class="section">
      <h2>All members enjoy the following benefits:</h2>
      <ul class="info-list">
        <li>Recognition on our <a href="https://www.texastribune.org/support-us/donors-and-members/">Donor Wall</a></li>
        <li>Discounted tickets to the annual <a href="https://www.texastribune.org/festival/">Texas Tribune Festival</a></li>
        <li>Exclusive, quarterly e-newsletter, where members get a behind-the-scenes look at the Tribune’s latest projects and initiatives</li>
      </ul>

      <table class="level-breakdown">
        <tbody class="grid-body">
          <tr>
            <td class="name open-close"><h3>Student</h3></td>
            <td class="amount-monthly">No monthly option</td>
            <td class="amount-yearly"><a href="https://checkout.texastribune.org/memberform?&amount=10&installmentPeriod=yearly">$10 yearly</a></td>
          </tr>

          <tr>
            <td class="name open-close"><h3>Informed</h3></td>
            <td class="amount-monthly"><a href="https://checkout.texastribune.org/memberform?&amount=6&installmentPeriod=monthly">$3-$8 monthly</a></td>
            <td class="amount-yearly"><a href="https://checkout.texastribune.org/memberform?&amount=75&installmentPeriod=yearly">$35-$99 yearly</a></td>
          </tr>

          <tr>
            <td class="name open-close"><h3>Engaged</h3></td>
            <td class="amount-monthly"><a href="https://checkout.texastribune.org/memberform?&amount=20&installmentPeriod=monthly">$9-$41 monthly</a></td>
            <td class="amount-yearly"><a href="https://checkout.texastribune.org/memberform?&amount=300&installmentPeriod=yearly">$100-$499 yearly</a></td>
          </tr>

          <tr>
            <td class="name open-close"><h3>Involved</h3></td>
            <td class="amount-monthly"><a href="https://checkout.texastribune.org/memberform?&amount=60&installmentPeriod=monthly">$42-$83 monthly</a></td>
            <td class="amount-yearly"><a href="https://checkout.texastribune.org/memberform?&amount=750&installmentPeriod=yearly">$500-$999 yearly</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="section">
      <h2>Giving Circles</h2>
      <p>Circle Membership is a three-year commitment that backs the vital work of our journalists. <a href="/circle.html">Circle members</a> believe in supporting our public service mission so that all Texans have can access our nonpartisan news, data and events at no cost.</p>

      <table class="level-breakdown">
        <tbody class="grid-body">
          <tr>
            <td class="name open-close"><h3>Editor's Circle</h3></td>
            <td class="amount-monthly"><a href="https://checkout.texastribune.org/circleform?&amount=84&installments=36&installmentPeriod=monthly">$84 monthly</a></td>
            <td class="amount-yearly"><a href="https://checkout.texastribune.org/circleform?&amount=1000&installments=3&installmentPeriod=yearly">$1,000 yearly</a></td>
          </tr>

          <tr>
            <td class="name open-close"><h3>Leadership Circle</h3></td>
            <td class="amount-monthly"><a href="https://checkout.texastribune.org/circleform?&amount=209&installments=36&installmentPeriod=monthly">$209 monthly</a></td>
            <td class="amount-yearly"><a href="https://checkout.texastribune.org/circleform?&amount=2500&installments=3&installmentPeriod=yearly">$2,500 yearly</a></td>
          </tr>

          <tr>
            <td class="name open-close"><h3>Chairman's Circle</h3></td>
            <td class="amount-monthly"><a href="https://checkout.texastribune.org/circleform?&amount=417&installments=36&installmentPeriod=monthly">$417 monthly</a></td>
            <td class="amount-yearly"><a href="https://checkout.texastribune.org/circleform?&amount=5000&installments=3&installmentPeriod=yearly">$5,000 yearly</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <%= partial "mobile_nav" %>
<% end %>
